@font-face {
  font-family: 'Segoe';
  src: url('/wp-content/themes/dynatheme/fonts/SegoeUI-Regular.eot'); /* IE9 Compat Modes */
  src: url('/wp-content/themes/dynatheme/fonts/SegoeUI-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/wp-content/themes/dynatheme/fonts/SegoeUI-Regular.otf') format('opentype'), /* Open Type Font */
    url('/wp-content/themes/dynatheme/fonts/SegoeUI-Regular.svg') format('svg'), /* Legacy iOS */
    url('/wp-content/themes/dynatheme/fonts/SegoeUI-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/wp-content/themes/dynatheme/fonts/SegoeUI-Regular.woff') format('woff'), /* Modern Browsers */
    url('/wp-content/themes/dynatheme/fonts/SegoeUI-Regular.woff2') format('woff2'); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* noto-serif-regular - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;  
  font-display: swap;
  src: url('/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Serif'), local('NotoSerif'),
       url('/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-regular.svg#NotoSerif') format('svg'); /* Legacy iOS */
}
/* noto-serif-700 - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Serif Bold'), local('NotoSerif-Bold'),
       url('/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-700.svg#NotoSerif') format('svg'); /* Legacy iOS */
}


@font-face{font-family:Segoe;src:url(/wp-content/themes/dynatheme/fonts/SegoeUI-Regular.eot);src:url(/wp-content/themes/dynatheme/fonts/SegoeUI-Regular.eot?#iefix) format('embedded-opentype'),url(/wp-content/themes/dynatheme/fonts/SegoeUI-Regular.otf) format('opentype'),url(/wp-content/themes/dynatheme/fonts/SegoeUI-Regular.svg) format('svg'),url(/wp-content/themes/dynatheme/fonts/SegoeUI-Regular.ttf) format('truetype'),url(/wp-content/themes/dynatheme/fonts/SegoeUI-Regular.woff) format('woff'),url(/wp-content/themes/dynatheme/fonts/SegoeUI-Regular.woff2) format('woff2');font-weight:400;font-style:normal;font-display:swap}@font-face{font-family:'Noto Serif';font-style:normal;font-weight:400;font-display:swap;src:url(/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-regular.eot);src:local('Noto Serif'),local('NotoSerif'),url(/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-regular.eot?#iefix) format('embedded-opentype'),url(/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-regular.woff2) format('woff2'),url(/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-regular.woff) format('woff'),url(/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-regular.ttf) format('truetype'),url(/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-regular.svg#NotoSerif) format('svg')}@font-face{font-family:'Noto Serif';font-style:normal;font-weight:700;font-display:swap;src:url(/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-700.eot);src:local('Noto Serif Bold'),local('NotoSerif-Bold'),url(/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-700.eot?#iefix) format('embedded-opentype'),url(/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-700.woff2) format('woff2'),url(/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-700.woff) format('woff'),url(/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-700.ttf) format('truetype'),url(/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-700.svg#NotoSerif) format('svg')}