article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0} *,
input[type="search"] {
-webkit-box-sizing: border-box;
-moz-box-sizing:    border-box;
box-sizing:         border-box;
} .archive-pagination:before,
.clearfix:before,
.entry:before,
.entry-pagination:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
content: " ";
display: table;
}
.archive-pagination:after,
.clearfix:after,
.entry:after,
.entry-pagination:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
clear: both;
content: " ";
display: table;
}  html {
font-size: 62.5%; }
body {
background-color: #f5f5f5;
color: #666;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 16px;
font-size: 1.6rem;
font-weight: 400;
line-height: 1.625;
overflow-x: hidden;
position: relative;
left: 0;
}
a, a:hover, a:active, a:focus {
outline: 0;
}
::-moz-selection {
background-color: #333;
color: #fff;
}
::selection {
background-color: #333;
color: #fff;
}
a {
color: #666;
text-decoration: none;
}
a:hover {
color: #333;
}
p {
margin: 0 0 24px;
margin: 0 0 2.4rem;
padding: 0;
}
strong {
font-weight: 700;
}
ol,
ul {
margin: 0;
padding: 0;
}
blockquote,
blockquote::before {
color: #999;
}
blockquote {
margin: 40px 40px 24px;
margin: 4rem 4rem 2.4rem;
}
blockquote::before {
content: "\201C";
display: block;
font-size: 30px;
font-size: 3rem;
height: 0;
left: -20px;
position: relative;
top: -10px;
}
.entry-content code {
background-color: #333;
color: #ddd;
} h1,
h2,
h3,
h4,
h5,
h6 {
color: #333;
font-weight: 700;
line-height: 1.2;
margin: 0 0 16px;
margin: 0 0 1.6rem;
}
h1 {
font-size: 28px;
font-size: 2.8rem;
}
h2 {
font-size: 26px;
font-size: 2.6rem;
}
h3 {
font-size: 24px;
font-size: 2.4rem;
}
h4 {
font-size: 20px;
font-size: 2rem;
}
h5 {
font-size: 18px;
font-size: 1.8rem;
}
h6 {
font-size: 16px;
font-size: 1.6rem;
} embed,
iframe,
img,
object,
video,
.wp-caption {
max-width: 100%;
}
img {
height: auto;
width: auto; } input[type="text"], 
input[type="number"], 
input[type="password"],
input[type="email"],
select,
textarea {
background-color: #fff;
border: 1px solid #ddd;
border-radius: 3px;
box-shadow: 1px 1px 3px #eee inset;
color: #999;
font-size: 14px;
font-size: 1.4rem;
padding: 10px;
padding: 1rem;
width: 100%;
}
input[type="checkbox"], input[type="radio"] {
width: auto;
}
input:focus,
textarea:focus {
border: 1px solid #999;
outline: none;
}
::-moz-placeholder {
color: #999;
opacity: 1;
}
::-webkit-input-placeholder {
color: #999;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
display: none;
} table {
border-collapse: collapse;
border-spacing: 0;
line-height: 2;
margin-bottom: 40px;
margin-bottom: 4rem;
width: 100%;
}
tbody {
border-bottom: 1px solid #ddd;
}
th,
td {
text-align: left;
}
th {
font-weight: bold;
text-transform: uppercase;
}
td {
border-top: 1px solid #ddd;
padding: 6px 0;
padding: 0.6rem 0;
} .wrap {
margin: 0 auto;
max-width: 1140px;
}
.site-inner {
clear: both;
padding-top: 20px;
padding-top: 2rem;
} .content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
width: 920px;
}
.content-sidebar-sidebar .content-sidebar-wrap {
float: left;
}
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
float: right;
} .content {
float: right;
width: 740px;
}
.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
float: left;
}
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
width: 520px;
}
.full-width-content .content {
width: 100%;
} .sidebar-primary {
float: right;
width: 360px;
}
.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
float: left;
} .sidebar-secondary {
float: left;
width: 180px;
}
.content-sidebar-sidebar .sidebar-secondary {
float: right;
} .five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
float: left;
margin-left: 2.564102564102564%;
}
.one-half,
.three-sixths,
.two-fourths {
width: 47.717948717948715%;
}
.two-fourths.right {
margin-left: 0;
margin-right: 2.564102564102564%;
}
.one-third,
.two-sixths {
width: 31.623931623931625%;
}
.four-sixths,
.two-thirds {
width: 65.81196581196582%;
}
.one-fourth {
width: 23.076923076923077%;
}
.three-fourths {
width: 74.35897435897436%;
}
.one-sixth {
width: 14.52991452991453%;
}
.five-sixths {
width: 82.90598290598291%;
}
.first {
clear: both;
margin-left: 0;
}  .avatar {
float: left;
}
.alignleft .avatar {
margin-right: 24px;
margin-right: 2.4rem;
}
.alignright .avatar {
margin-left: 24px;
margin-left: 2.4rem;
}
.search-form input[type="submit"] {
border: 0px none;
padding: 0px;
position: absolute;
z-index: 2;
right: 0px;
height: 100%;
border-radius: 0;
box-sizing: border-box;
padding-left: 20px;
padding-right: 20px;
}
img.centered,
.aligncenter {
display: block;
margin: 0 auto 24px;
margin: 0 auto 2.4rem;
}
img.alignnone {
margin-bottom: 12px;
margin-bottom: 1.2rem;
}
.alignleft {
float: left;
text-align: left;
}
.alignright {
float: right;
text-align: right;
}
img.alignleft,
.wp-caption.alignleft {
margin: 0 24px 24px 0;
margin: 0 2.4rem 2.4rem 0;
}
img.alignright,
.wp-caption.alignright {
margin: 0 0 24px 24px;
margin: 0 0 2.4rem 2.4rem;
}
.wp-caption-text {
font-size: 14px;
font-size: 1.4rem;
font-weight: 700;
text-align: center;
}
.widget_calendar table {
width: 100%;
}
.widget_calendar td,
.widget_calendar th {
text-align: center;
} .breadcrumb {
margin-bottom: 20px;
margin-bottom: 2rem;
}
.archive-description,
.author-box {
background-color: #fff;
margin-bottom: 40px;
margin-bottom: 4rem;
}
.archive-description {
padding: 40px 40px 24px;
padding: 4rem 4rem 2.4rem;
}
.author-box {
padding: 40px;
padding: 4rem;
}
.author-box-title {
color: #333;
font-size: 16px;
font-size: 1.6rem;
margin-bottom: 4px;
margin-bottom: 0.4rem;
}
.author-box a {
border-bottom: 1px solid #ddd;
}
.author-box p {
margin-bottom: 0;
}
.author-box .avatar {
margin-right: 24px;
margin-right: 2.4rem;
} .entry-title {
font-size: 36px;
font-size: 3.6rem;
line-height: 1.3;
}
.entry-title a,
.sidebar .widget-title a {
color: #333;
}
.entry-title a:hover {
color: #666;
}
.widget-title {
font-size: 16px;
font-size: 1.6rem;
margin-bottom: 24px;
margin-bottom: 2.4rem;
text-transform: uppercase;
}
.sidebar .widget-title a {
border: none;
}
.archive-title {
font-size: 20px;
font-size: 2rem;
margin-bottom: 24px;
margin-bottom: 2.4rem;
}  .featured-content .entry {
border-bottom: 2px solid #f5f5f5;
margin-bottom: 20px;
margin-bottom: 2rem;
padding: 0 0 24px;
padding: 0 0 2.4rem;
}
.featured-content .entry-title {
border: none;
font-size: 24px;
font-size: 2.4rem;
line-height: 1.2;
}
.featured-content .entry-title a {
border: none;
} .site-header {
background-color: #fff;
} .title-area {
float: left;
font-weight: 700;
padding: 16px 0;
padding: 1.6rem 0;
width: 320px;
}
.header-image .title-area {
padding: 0;
}
.site-title {
font-size: 28px;
font-size: 2.8rem;
line-height: 1;
margin: 0 0 8px;
margin: 0 0 0.8rem;
text-transform: uppercase;
}
.site-title a,
.site-title a:hover {
color: #333;
}
.site-description {
color: #999;
font-size: 16px;
font-size: 1.6rem;
font-weight: 300;
line-height: 1;
margin-bottom: 0;
} .header-full-width .title-area,
.header-full-width .site-title {
width: 100%;
}
.header-image .site-description,
.header-image .site-title a {
display: block;
text-indent: -9999px;
} .header-image .site-header .wrap {
background: url(//denturewearers.com/wp-content/themes/dynatheme/css/images/logo.png) no-repeat left;
padding: 0;
}
.header-image .site-title a {
float: left;
min-height: 164px;
width: 100%;
} .header-middle-active .site-header .title-area, .header-middle-active .site-header .header-widget-area {
width: 33.3%;
float: left;
text-align: left;
}
.header-middle-active .site-header .search-form {
float: none;
margin-top: 0;
position: relative;
}
.header-widget-area p {
margin: 0;
} .site-header .widget-area {
float: right;
text-align: right;
width: 800px;
}
.header-image .site-header .widget-area {
padding: 40px 0;
padding: 4rem 0;
}
.site-header .search-form {
float: right;
margin-top: 24px;
margin-top: 2.4rem;
width: 100%;
max-width: 350px;
}
.search-form {
position: relative;
} .nav-in-header .nav-primary {
float: right;
}
.nav-in-header .title-area {
width: 100%;
max-width: 250px;
}
.genesis-nav-menu {
clear: both;
color: #999;
line-height: 1.5;
width: 100%;
}
.genesis-nav-menu .menu-item {
display: inline-block;
text-align: left;
}
.genesis-nav-menu a {
border: none;
color: #204389;
display: block;
padding: 16px 25px;
padding: 1.6rem 2.5rem;
position: relative;
}
.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
color: #333;
}
.genesis-nav-menu .sub-menu .current-menu-item > a {
color: #999;
}
.genesis-nav-menu .sub-menu {
left: -9999px;
opacity: 0;
position: absolute;
-webkit-transition: opacity .4s ease-in-out;
-moz-transition:    opacity .4s ease-in-out;
-ms-transition:     opacity .4s ease-in-out;
-o-transition:      opacity .4s ease-in-out;
transition:         opacity .4s ease-in-out;
width: 200px;
z-index: 99;
}
.genesis-nav-menu .sub-menu a {
background-color: #fff;
border: 1px solid #eee;
border-top: none;
font-size: 14px;
font-size: 1.4rem;
padding: 16px 20px;
padding: 1.6rem 2rem;
position: relative;
width: 200px;
}
.genesis-nav-menu .sub-menu .sub-menu {
margin: -54px 0 0 199px;
}
.genesis-nav-menu .menu-item:hover {
position: static;
}
.genesis-nav-menu .menu-item:hover > .sub-menu {
left: auto;
opacity: 1;
}
.genesis-nav-menu > .first > a {
padding-left: 0;
}
.genesis-nav-menu > .last > a {
padding-right: 0;
}
.genesis-nav-menu > .right {
display: inline-block;
float: right;
list-style-type: none;
padding: 28px 0;
padding: 2.8rem 0;
text-transform: uppercase;
}
.genesis-nav-menu > .right > a {
display: inline;
padding: 0;
}
.genesis-nav-menu > .rss > a {
margin-left: 48px;
margin-left: 4.8rem;
}
.genesis-nav-menu > .search {
padding: 14px 0 0;
padding: 1.4rem 0 0;
} .site-header .sub-menu {
border-top: 1px solid #eee;
}
.site-header .sub-menu .sub-menu {
margin-top: -55px;
} .nav-primary a:hover,
.nav-primary .current-menu-item > a {
color: #E43D26;
}
.nav-primary .sub-menu a:hover {
color: #E43D26;
} .nav-secondary {
background-color: #fff;
}  .entry {
background-color: #fff;
border-radius: 3px;
margin-bottom: 40px;
margin-bottom: 4rem;
padding: 40px 40px 24px;
padding: 4rem 4rem 2.4rem;
}
.entry-content a {
color: #f15123;
}
.entry-content a:hover {
color: #333;
}
.entry-content .attachment a,
.entry-content .gallery a {
border: none;
}
.entry-content ol,
.entry-content p,
.entry-content ul,
.quote-caption {
margin-bottom: 26px;
margin-bottom: 2.6rem;
}
.entry-content ol,
.entry-content ul {
margin-left: 40px;
margin-left: 4rem;
}
.entry-content ol li {
list-style-type: decimal;
}
.entry-content ol ol,
.entry-content ul ul {
margin-bottom: 0;
}
.entry-content .search-form {
width: 50%;
}
.entry-meta {
color: #999;
font-size: 14px;
font-size: 1.4rem;
}
.entry-meta a {
border-bottom: 1px solid #ddd;
}
.entry-header .entry-meta {
margin-bottom: 24px;
margin-bottom: 2.4rem;
}
.entry-footer .entry-meta {
border-top: 2px solid #f5f5f5;
margin: 0 -40px;
margin: 0 -4rem;
padding: 32px 40px 8px;
padding: 3.2rem 4rem 0.8rem;
}
.entry-comments-link::before {
content: "\2014";
margin: 0 6px 0 2px;
margin: 0 0.6rem 0 0.2rem;
}
.entry-categories,
.entry-tags {
display: block;
} .site-inner {
padding-top: 10px;
} .archive-pagination,
.entry-pagination {
font-size: 14px;
font-size: 1.4rem;
margin: 40px 0;
margin: 4rem 0;
}
.archive-pagination li {
display: inline;
}
.archive-pagination li a {
background-color: #333;
border-radius: 3px;
color: #fff;
cursor: pointer;
display: inline-block;
padding: 8px 12px;
padding: 0.8rem 1.2rem;
}
.archive-pagination li a:hover,
.archive-pagination li.active a {
background-color: #f15123;
}
.entry-pagination a {
border-bottom: 1px solid #ddd;
} .comment-respond,
.entry-comments,
.entry-pings {
background-color: #fff;
margin-bottom: 40px;
margin-bottom: 4rem;
}
.entry-comments {
padding: 40px;
padding: 4rem;
}
.comment-respond,
.entry-pings {
padding: 40px 40px 16px;
padding: 4rem 4rem 1.6rem;
}
.comment-content {
clear: both;
}
.entry-comments .comment-author {
margin-bottom: 0;
}
.comment-respond label {
display: block;
margin-right: 12px;
margin-right: 1.2rem;
}
.comment-list li,
.ping-list li {
list-style-type: none;
}
.comment-list li {
margin-top: 24px;
margin-top: 2.4rem;
padding: 32px;
padding: 3.2rem;
}
.comment-list li li {
margin-right: -32px;
margin-right: -3.2rem;
}
li.comment {
background-color: #f5f5f5;
border: 2px solid #fff;
border-right: none;
}
.comment .avatar {
margin: 0 16px 24px 0;
margin: 0 1.6rem 2.4rem 0;
}
.entry-pings .reply {
display: none;
}
.bypostauthor {
}
.form-allowed-tags {
background-color: #f5f5f5;
font-size: 14px;
font-size: 1.4rem;
padding: 24px;
padding: 2.4rem;
} .sidebar {
color: #999;
}
.sidebar a {
border-bottom: 1px solid #ddd;
}
.sidebar p:last-child {
margin-bottom: 0;
}
.sidebar li {
list-style-type: none;
margin-bottom: 6px;
margin-bottom: 0.6rem;
word-wrap: break-word;
}
.sidebar ul > li:last-child {
margin-bottom: 0;
}
.sidebar .widget {
background-color: #fff;
border-radius: 3px;
margin-bottom: 40px;
margin-bottom: 4rem;
padding: 40px;
padding: 4rem;
}
.sidebar .enews-widget {
background-color: #333;
} .footer-widgets {
background-color: #333;
color: #999;
clear: both;
padding: 40px 0 16px;
padding: 4rem 0 1.6rem;
}
.footer-widgets-1,
.footer-widgets-3 {
width: 350px;
}
.footer-widgets-2 {
width: 360px;
}
.footer-widgets-1 {
margin-right: 40px;
margin-right: 4rem;
}
.footer-widgets-1,
.footer-widgets-2 {
float: left;
}
.footer-widgets-3 {
float: right;
}
.footer-widgets a:hover {
color: #ddd;
}
.footer-widgets .widget {
margin-bottom: 24px;
margin-bottom: 2.4rem;
}
.footer-widgets .widget-title {
color: #fff;
}
.footer-widgets li {
list-style-type: none;
margin-bottom: 6px;
margin-bottom: 0.6rem;
word-wrap: break-word;
}
.footer-widgets .search-form input:focus {
border: 1px solid #ddd;
} .site-footer {
background-color: #fff;
color: #999;
font-size: 14px;
font-size: 1.4rem;
padding: 40px 0;
padding: 4rem 0;
text-align: center;
}
.site-footer p {
margin-bottom: 0;
} .one-half {
width:49%;
}
.one-third {
width:32%;
}
.two-thirds {
width:66%;
}
.two-fourth {
width:47%;
}
.one-fourth {
width:23.5%;
}
.three-fourths {
width:74.5%;
}
.one-fifth {
width:18.4%;
}
.two-fifths {
width:38.6%;
}
.three-fifths {
width:59.4%;
}
.four-fifths {
width:79.6%;
}
.one-sixth {
width:14.33%;
}
.five-sixths {
width:83.67%;
}
.one-half,
.one-third,
.two-thirds,
.two-fourth,
.three-fourths,
.one-fourth,
.one-fifth,
.two-fifths,
.three-fifths,
.four-fifths,
.one-sixth,
.five-sixths {
position:relative;
margin-right:2%;
float:left;
margin-left: 0;
}
.last {
margin-right:0 !important;
clear:right;
float: right;
}
.clearboth {
clear:both;
display:block;
font-size:0;
height:0;
line-height:0;
width:100%;
} .cmk-nav-toggle {
display: none;
} .ckensct {
text-align: center;
background: #F00;
color: #fff;
border-bottom: 1px solid #eee;
}
.center {
text-align: center;	
}
body,
.cmk-PushRight,
.cmk-PushLeft,
.cmk-SlideRight,
.cmk-SlideLeft,
.cmk-SlideDown,
.cmk-SlideUp {
webkit-transition: all .35s ease-in-out;
-moz-transition: all .35s ease-in-out;
-ms-transition: all .35s ease-in-out;
-o-transition: all .35s ease-in-out;
transition: all .35s ease-in-out;
}
.ajax-loader {
position: absolute;
width: 100%;
height: 100%;
background: rgba(255, 255, 255, 0.7);
z-index: 8200;
left: 0;
top: 0;
}
.ajax-loader .spinner {
animation: 2s cubic-bezier(0.63, 0.045, 0.34, 1) 0s normal none infinite cm_spinner;
-webkit-animation: 2s cubic-bezier(0.63, 0.045, 0.34, 1) 0s normal none infinite cm_spinner;
}
.ajax-loader .spinner {
top: 50%;
border-radius: 100%;
height: 40px;
width: 40px;
margin: 0 auto;
display: block;
position: relative;
border: 3px solid #e5e5e5;
margin-top: -20px;
}
.ajax-loader .spinner:before {
position: absolute;
content: "";
border-color: #66c9c3 transparent transparent;
border-radius: 100%;
border-style: solid;
border-width: 3px;
display: block;
height: 100%;
width: 100%;
top: -3px;
left: -3px;
}
.cm-full .site-inner{padding:0}
.cm-full .site-inner>.wrap{width:100%;max-width:100%}
.cm-full .site-inner>.wrap .entry{padding:0;margin:0}
@keyframes cm_spinner {
0% {
transform: scale(1) rotate(0deg);
-o-transform: scale(1) rotate(0deg);
}
50% {
transform: scale(0.8) rotate(360deg);
-o-transform: scale(0.8) rotate(360deg);
}
100% {
transform: scale(1) rotate(720deg);
-o-transform: scale(1) rotate(720deg);
}
}
@-webkit-keyframes cm_spinner {
0% {
-webkit-transform: scale(1) rotate(0deg);
}
50% {
-webkit-transform: scale(0.8) rotate(360deg);
}
100% {
-webkit-transform: scale(1) rotate(720deg);
}
}
@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
} @media only screen and (min-width: 769px) {	
.entry {
padding: 1.5em;
}
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
.header-image .site-header .wrap {
background: url(//denturewearers.com/wp-content/themes/dynatheme/css/images/logo@2x.png) no-repeat left;
background-size: 320px 164px;
}
}
@media only screen and (max-width: 1139px) {
.site-inner,
.wrap { }
.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
width: 740px;
}
.content,
.site-header .widget-area {
width: 620px;
}
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content,
.content-sidebar-sidebar .content {
width: 400px;
}
.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3,
.sidebar-primary,
.title-area {
width: 300px;
}
}
@media only screen and (max-width: 1023px) {
body {
background-color: #fff;
}
.content,
.content-sidebar-sidebar .content,
.content-sidebar-sidebar .content-sidebar-wrap,
.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3,
.sidebar-content-sidebar .content,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-primary,
.sidebar-secondary,
.sidebar-sidebar-content .content,
.sidebar-sidebar-content .content-sidebar-wrap,
.site-header .widget-area,
.site-inner,
.title-area,
.wrap {
width: 100%;
}
.site-header .wrap {
padding: 20px 0;
padding: 2rem 0;
}
.header-image .site-header .wrap {
background-position: center top;
}
.archive-description,
.author-box,
.comment-respond,
.entry,
.entry-comments,
.entry-footer .entry-meta,
.header-image .site-header .widget-area,
.sidebar .widget,
.site-header {
padding: 0;
}
.genesis-nav-menu li,
.site-header ul.genesis-nav-menu,
.site-header .search-form {
float: none;
}
.genesis-nav-menu,
.site-description,
.site-header .title-area,
.site-header .search-form,
.site-title {
text-align: center;
}
.genesis-nav-menu a,
.genesis-nav-menu > .first > a,
.genesis-nav-menu > .last > a {
padding: 20px 16px;
padding: 2rem 1.6rem;
}
.site-header .search-form {
margin: 16px auto ;
margin: 1.6rem auto;
}
.genesis-nav-menu li.right {
display: none;
}
.entry-footer .entry-meta {
margin: 0;
padding-top: 12px;
padding-top: 1.2rem;
}
.sidebar .widget.enews-widget {
padding: 20px;
padding: 2rem;
}
.site-footer {
padding: 24px 0;
padding: 2.4rem 0;
}
.footer-widgets {
padding: 40px 5% 16px;
}
.footer-widgets-1 {
margin: 0;
}
}
@media only screen and (max-width: 1024px) { 
.nav-in-header .nav-primary {
float: none;
}
.genesis-nav-menu .menu-item, .genesis-nav-menu .menu-item:hover {
display: block;
position: relative;
text-align: left;
}
.genesis-nav-menu .sub-menu {
left: 0;
opacity: 1;
position: relative;
text-align: left;
border-top: 0;
width: auto;
margin-left: 20px;
}
.genesis-nav-menu .sub-menu .sub-menu {
margin: 0 !important;
}
.genesis-nav-menu a {
padding: 10px;
background-color: transparent;
color: #fff;
}
.genesis-nav-menu .menu-item > a {
border-top: 1px solid #3F3F3F;
box-shadow: 0px -1px 0px 0px #070707;
padding: 15px 30px;
}
.sub-menu li a {
margin-left: 20px;
}
.cmk-nav-toggle {
display: block;
text-align: right;
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
-webkit-user-select: none;
font-size: 24px;
float: right;
border-radius: 3px;
margin-right: 20px;
}
.cmk-nav-toggle i {
color: #CCCCCC;
padding: 5px 10px;
border-radius: 3px;
background: rgba(51, 51, 51, 0.79);
transition: all .5s ease-in-out;
}
.cmk-nav-toggle.active i.fa::before {
content: "\f054";
}
.cmk-PushRight,
.cmk-PushLeft,
.cmk-SlideRight,
.cmk-SlideLeft {
position: fixed;
max-width: 250px;
top: 0;
z-index: 9;
background: #222222;
padding: 30px 0;
height: 100%;
overflow-x: auto;
}
.cmk-PushRight {
right: -250px;
}
.cmk-PushRight.menu-opened {
right: 0;
}
body.PushRight {
left: -250px;
}
.cmk-PushLeft {
left: -250px;
}
.cmk-PushLeft.menu-opened {
left: 0;
}
body.PushLeft {
left: 250px;
}
.subdown {
position: absolute;
height: 100%;
width: 50px;
top: 0;
right: 0;
text-align: center;
background: #0000003d;
}
.subdown::after {
content: "\f107";
font-family: "Font Awesome 5 Free";
font-weight: 900;
font-size: 26px;
padding-top: 9px;
display: block;
webkit-transition: all .55s ease-in-out;
-moz-transition: all .55s ease-in-out;
-ms-transition: all .55s ease-in-out;
-o-transition: all .55s ease-in-out;
transition: all .55s ease-in-out;
}
.sub-opened > .subdown::after {
transform: rotate(-180deg);
margin-top: 10px;
}
.genesis-nav-menu .menu-item-has-children > .sub-menu {
max-height: 0;
overflow:hidden;
webkit-transition: all .75s ease-in-out;
-moz-transition: all .75s ease-in-out;
-ms-transition: all .75s ease-in-out;
-o-transition: all .75s ease-in-out;
transition: all .75s ease-in-out;
}
.genesis-nav-menu .menu-item-has-children.sub-opened > .sub-menu {
max-height: 1000px;
}
}
@media only screen and (max-width: 767px) {
.five-sixths,
.four-sixths,
.one-fourth,
.two-fourth,
.one-half,
.one-fifth,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds,
.header-middle-active .site-header .title-area, 
.header-middle-active .site-header .header-widget-area	{
margin: 0 auto 20px;
width: 100%;
text-align: center;
}
}
@-webkit-keyframes spinAround {
from {
-webkit-transform: rotate(0);
transform: rotate(0)
}
to {
-webkit-transform: rotate(359deg);
transform: rotate(359deg)
}
}
@keyframes spinAround {
from {
-webkit-transform: rotate(0);
transform: rotate(0)
}
to {
-webkit-transform: rotate(359deg);
transform: rotate(359deg)
}
}
.preloader {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background: #00000073;
z-index: 999;
text-align: center;
font-style: normal;
}
.preloader::after {
-webkit-animation: spinAround .5s infinite linear;
animation: spinAround .5s infinite linear;
border: 2px solid #dbdbdb;
border-radius: 290486px;
border-right-color: transparent;
border-top-color: transparent;
content: "";
display: block;
height: 1em;
position: relative;
width: 1em;
margin: 0 auto;
top: 50%;
margin-top: -10px
}