article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0} *,
input[type="search"] {
-webkit-box-sizing: border-box;
-moz-box-sizing:    border-box;
box-sizing:         border-box;
} .archive-pagination:before,
.clearfix:before,
.entry:before,
.entry-pagination:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
content: " ";
display: table;
}
.archive-pagination:after,
.clearfix:after,
.entry:after,
.entry-pagination:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
clear: both;
content: " ";
display: table;
}  html {
font-size: 62.5%; }
body {
background-color: #f5f5f5;
color: #666;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 16px;
font-size: 1.6rem;
font-weight: 400;
line-height: 1.625;
overflow-x: hidden;
position: relative;
left: 0;
}
a, a:hover, a:active, a:focus {
outline: 0;
}
::-moz-selection {
background-color: #333;
color: #fff;
}
::selection {
background-color: #333;
color: #fff;
}
a {
color: #666;
text-decoration: none;
}
a:hover {
color: #333;
}
p {
margin: 0 0 24px;
margin: 0 0 2.4rem;
padding: 0;
}
strong {
font-weight: 700;
}
ol,
ul {
margin: 0;
padding: 0;
}
blockquote,
blockquote::before {
color: #999;
}
blockquote {
margin: 40px 40px 24px;
margin: 4rem 4rem 2.4rem;
}
blockquote::before {
content: "\201C";
display: block;
font-size: 30px;
font-size: 3rem;
height: 0;
left: -20px;
position: relative;
top: -10px;
}
.entry-content code {
background-color: #333;
color: #ddd;
} h1,
h2,
h3,
h4,
h5,
h6 {
color: #333;
font-weight: 700;
line-height: 1.2;
margin: 0 0 16px;
margin: 0 0 1.6rem;
}
h1 {
font-size: 28px;
font-size: 2.8rem;
}
h2 {
font-size: 26px;
font-size: 2.6rem;
}
h3 {
font-size: 24px;
font-size: 2.4rem;
}
h4 {
font-size: 20px;
font-size: 2rem;
}
h5 {
font-size: 18px;
font-size: 1.8rem;
}
h6 {
font-size: 16px;
font-size: 1.6rem;
} embed,
iframe,
img,
object,
video,
.wp-caption {
max-width: 100%;
}
img {
height: auto;
width: auto; } input[type="text"], 
input[type="number"], 
input[type="password"],
input[type="email"],
select,
textarea {
background-color: #fff;
border: 1px solid #ddd;
border-radius: 3px;
box-shadow: 1px 1px 3px #eee inset;
color: #999;
font-size: 14px;
font-size: 1.4rem;
padding: 10px;
padding: 1rem;
width: 100%;
}
input[type="checkbox"], input[type="radio"] {
width: auto;
}
input:focus,
textarea:focus {
border: 1px solid #999;
outline: none;
}
::-moz-placeholder {
color: #999;
opacity: 1;
}
::-webkit-input-placeholder {
color: #999;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
display: none;
} table {
border-collapse: collapse;
border-spacing: 0;
line-height: 2;
margin-bottom: 40px;
margin-bottom: 4rem;
width: 100%;
}
tbody {
border-bottom: 1px solid #ddd;
}
th,
td {
text-align: left;
}
th {
font-weight: bold;
text-transform: uppercase;
}
td {
border-top: 1px solid #ddd;
padding: 6px 0;
padding: 0.6rem 0;
} .wrap {
margin: 0 auto;
max-width: 1140px;
}
.site-inner {
clear: both;
padding-top: 20px;
padding-top: 2rem;
} .content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
width: 920px;
}
.content-sidebar-sidebar .content-sidebar-wrap {
float: left;
}
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
float: right;
} .content {
float: right;
width: 740px;
}
.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
float: left;
}
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
width: 520px;
}
.full-width-content .content {
width: 100%;
} .sidebar-primary {
float: right;
width: 360px;
}
.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
float: left;
} .sidebar-secondary {
float: left;
width: 180px;
}
.content-sidebar-sidebar .sidebar-secondary {
float: right;
} .five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
float: left;
margin-left: 2.564102564102564%;
}
.one-half,
.three-sixths,
.two-fourths {
width: 47.717948717948715%;
}
.two-fourths.right {
margin-left: 0;
margin-right: 2.564102564102564%;
}
.one-third,
.two-sixths {
width: 31.623931623931625%;
}
.four-sixths,
.two-thirds {
width: 65.81196581196582%;
}
.one-fourth {
width: 23.076923076923077%;
}
.three-fourths {
width: 74.35897435897436%;
}
.one-sixth {
width: 14.52991452991453%;
}
.five-sixths {
width: 82.90598290598291%;
}
.first {
clear: both;
margin-left: 0;
}  .avatar {
float: left;
}
.alignleft .avatar {
margin-right: 24px;
margin-right: 2.4rem;
}
.alignright .avatar {
margin-left: 24px;
margin-left: 2.4rem;
}
.search-form input[type="submit"] {
border: 0px none;
padding: 0px;
position: absolute;
z-index: 2;
right: 0px;
height: 100%;
border-radius: 0;
box-sizing: border-box;
padding-left: 20px;
padding-right: 20px;
}
img.centered,
.aligncenter {
display: block;
margin: 0 auto 24px;
margin: 0 auto 2.4rem;
}
img.alignnone {
margin-bottom: 12px;
margin-bottom: 1.2rem;
}
.alignleft {
float: left;
text-align: left;
}
.alignright {
float: right;
text-align: right;
}
img.alignleft,
.wp-caption.alignleft {
margin: 0 24px 24px 0;
margin: 0 2.4rem 2.4rem 0;
}
img.alignright,
.wp-caption.alignright {
margin: 0 0 24px 24px;
margin: 0 0 2.4rem 2.4rem;
}
.wp-caption-text {
font-size: 14px;
font-size: 1.4rem;
font-weight: 700;
text-align: center;
}
.widget_calendar table {
width: 100%;
}
.widget_calendar td,
.widget_calendar th {
text-align: center;
} .breadcrumb {
margin-bottom: 20px;
margin-bottom: 2rem;
}
.archive-description,
.author-box {
background-color: #fff;
margin-bottom: 40px;
margin-bottom: 4rem;
}
.archive-description {
padding: 40px 40px 24px;
padding: 4rem 4rem 2.4rem;
}
.author-box {
padding: 40px;
padding: 4rem;
}
.author-box-title {
color: #333;
font-size: 16px;
font-size: 1.6rem;
margin-bottom: 4px;
margin-bottom: 0.4rem;
}
.author-box a {
border-bottom: 1px solid #ddd;
}
.author-box p {
margin-bottom: 0;
}
.author-box .avatar {
margin-right: 24px;
margin-right: 2.4rem;
} .entry-title {
font-size: 36px;
font-size: 3.6rem;
line-height: 1.3;
}
.entry-title a,
.sidebar .widget-title a {
color: #333;
}
.entry-title a:hover {
color: #666;
}
.widget-title {
font-size: 16px;
font-size: 1.6rem;
margin-bottom: 24px;
margin-bottom: 2.4rem;
text-transform: uppercase;
}
.sidebar .widget-title a {
border: none;
}
.archive-title {
font-size: 20px;
font-size: 2rem;
margin-bottom: 24px;
margin-bottom: 2.4rem;
}  .featured-content .entry {
border-bottom: 2px solid #f5f5f5;
margin-bottom: 20px;
margin-bottom: 2rem;
padding: 0 0 24px;
padding: 0 0 2.4rem;
}
.featured-content .entry-title {
border: none;
font-size: 24px;
font-size: 2.4rem;
line-height: 1.2;
}
.featured-content .entry-title a {
border: none;
} .site-header {
background-color: #fff;
} .title-area {
float: left;
font-weight: 700;
padding: 16px 0;
padding: 1.6rem 0;
width: 320px;
}
.header-image .title-area {
padding: 0;
}
.site-title {
font-size: 28px;
font-size: 2.8rem;
line-height: 1;
margin: 0 0 8px;
margin: 0 0 0.8rem;
text-transform: uppercase;
}
.site-title a,
.site-title a:hover {
color: #333;
}
.site-description {
color: #999;
font-size: 16px;
font-size: 1.6rem;
font-weight: 300;
line-height: 1;
margin-bottom: 0;
} .header-full-width .title-area,
.header-full-width .site-title {
width: 100%;
}
.header-image .site-description,
.header-image .site-title a {
display: block;
text-indent: -9999px;
} .header-image .site-header .wrap {
background: url(//denturewearers.com/wp-content/themes/dynatheme/css/images/logo.png) no-repeat left;
padding: 0;
}
.header-image .site-title a {
float: left;
min-height: 164px;
width: 100%;
} .header-middle-active .site-header .title-area, .header-middle-active .site-header .header-widget-area {
width: 33.3%;
float: left;
text-align: left;
}
.header-middle-active .site-header .search-form {
float: none;
margin-top: 0;
position: relative;
}
.header-widget-area p {
margin: 0;
} .site-header .widget-area {
float: right;
text-align: right;
width: 800px;
}
.header-image .site-header .widget-area {
padding: 40px 0;
padding: 4rem 0;
}
.site-header .search-form {
float: right;
margin-top: 24px;
margin-top: 2.4rem;
width: 100%;
max-width: 350px;
}
.search-form {
position: relative;
} .nav-in-header .nav-primary {
float: right;
}
.nav-in-header .title-area {
width: 100%;
max-width: 250px;
}
.genesis-nav-menu {
clear: both;
color: #999;
line-height: 1.5;
width: 100%;
}
.genesis-nav-menu .menu-item {
display: inline-block;
text-align: left;
}
.genesis-nav-menu a {
border: none;
color: #204389;
display: block;
padding: 16px 25px;
padding: 1.6rem 2.5rem;
position: relative;
}
.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
color: #333;
}
.genesis-nav-menu .sub-menu .current-menu-item > a {
color: #999;
}
.genesis-nav-menu .sub-menu {
left: -9999px;
opacity: 0;
position: absolute;
-webkit-transition: opacity .4s ease-in-out;
-moz-transition:    opacity .4s ease-in-out;
-ms-transition:     opacity .4s ease-in-out;
-o-transition:      opacity .4s ease-in-out;
transition:         opacity .4s ease-in-out;
width: 200px;
z-index: 99;
}
.genesis-nav-menu .sub-menu a {
background-color: #fff;
border: 1px solid #eee;
border-top: none;
font-size: 14px;
font-size: 1.4rem;
padding: 16px 20px;
padding: 1.6rem 2rem;
position: relative;
width: 200px;
}
.genesis-nav-menu .sub-menu .sub-menu {
margin: -54px 0 0 199px;
}
.genesis-nav-menu .menu-item:hover {
position: static;
}
.genesis-nav-menu .menu-item:hover > .sub-menu {
left: auto;
opacity: 1;
}
.genesis-nav-menu > .first > a {
padding-left: 0;
}
.genesis-nav-menu > .last > a {
padding-right: 0;
}
.genesis-nav-menu > .right {
display: inline-block;
float: right;
list-style-type: none;
padding: 28px 0;
padding: 2.8rem 0;
text-transform: uppercase;
}
.genesis-nav-menu > .right > a {
display: inline;
padding: 0;
}
.genesis-nav-menu > .rss > a {
margin-left: 48px;
margin-left: 4.8rem;
}
.genesis-nav-menu > .search {
padding: 14px 0 0;
padding: 1.4rem 0 0;
} .site-header .sub-menu {
border-top: 1px solid #eee;
}
.site-header .sub-menu .sub-menu {
margin-top: -55px;
} .nav-primary a:hover,
.nav-primary .current-menu-item > a {
color: #E43D26;
}
.nav-primary .sub-menu a:hover {
color: #E43D26;
} .nav-secondary {
background-color: #fff;
}  .entry {
background-color: #fff;
border-radius: 3px;
margin-bottom: 40px;
margin-bottom: 4rem;
padding: 40px 40px 24px;
padding: 4rem 4rem 2.4rem;
}
.entry-content a {
color: #f15123;
}
.entry-content a:hover {
color: #333;
}
.entry-content .attachment a,
.entry-content .gallery a {
border: none;
}
.entry-content ol,
.entry-content p,
.entry-content ul,
.quote-caption {
margin-bottom: 26px;
margin-bottom: 2.6rem;
}
.entry-content ol,
.entry-content ul {
margin-left: 40px;
margin-left: 4rem;
}
.entry-content ol li {
list-style-type: decimal;
}
.entry-content ol ol,
.entry-content ul ul {
margin-bottom: 0;
}
.entry-content .search-form {
width: 50%;
}
.entry-meta {
color: #999;
font-size: 14px;
font-size: 1.4rem;
}
.entry-meta a {
border-bottom: 1px solid #ddd;
}
.entry-header .entry-meta {
margin-bottom: 24px;
margin-bottom: 2.4rem;
}
.entry-footer .entry-meta {
border-top: 2px solid #f5f5f5;
margin: 0 -40px;
margin: 0 -4rem;
padding: 32px 40px 8px;
padding: 3.2rem 4rem 0.8rem;
}
.entry-comments-link::before {
content: "\2014";
margin: 0 6px 0 2px;
margin: 0 0.6rem 0 0.2rem;
}
.entry-categories,
.entry-tags {
display: block;
} .site-inner {
padding-top: 10px;
} .archive-pagination,
.entry-pagination {
font-size: 14px;
font-size: 1.4rem;
margin: 40px 0;
margin: 4rem 0;
}
.archive-pagination li {
display: inline;
}
.archive-pagination li a {
background-color: #333;
border-radius: 3px;
color: #fff;
cursor: pointer;
display: inline-block;
padding: 8px 12px;
padding: 0.8rem 1.2rem;
}
.archive-pagination li a:hover,
.archive-pagination li.active a {
background-color: #f15123;
}
.entry-pagination a {
border-bottom: 1px solid #ddd;
} .comment-respond,
.entry-comments,
.entry-pings {
background-color: #fff;
margin-bottom: 40px;
margin-bottom: 4rem;
}
.entry-comments {
padding: 40px;
padding: 4rem;
}
.comment-respond,
.entry-pings {
padding: 40px 40px 16px;
padding: 4rem 4rem 1.6rem;
}
.comment-content {
clear: both;
}
.entry-comments .comment-author {
margin-bottom: 0;
}
.comment-respond label {
display: block;
margin-right: 12px;
margin-right: 1.2rem;
}
.comment-list li,
.ping-list li {
list-style-type: none;
}
.comment-list li {
margin-top: 24px;
margin-top: 2.4rem;
padding: 32px;
padding: 3.2rem;
}
.comment-list li li {
margin-right: -32px;
margin-right: -3.2rem;
}
li.comment {
background-color: #f5f5f5;
border: 2px solid #fff;
border-right: none;
}
.comment .avatar {
margin: 0 16px 24px 0;
margin: 0 1.6rem 2.4rem 0;
}
.entry-pings .reply {
display: none;
}
.bypostauthor {
}
.form-allowed-tags {
background-color: #f5f5f5;
font-size: 14px;
font-size: 1.4rem;
padding: 24px;
padding: 2.4rem;
} .sidebar {
color: #999;
}
.sidebar a {
border-bottom: 1px solid #ddd;
}
.sidebar p:last-child {
margin-bottom: 0;
}
.sidebar li {
list-style-type: none;
margin-bottom: 6px;
margin-bottom: 0.6rem;
word-wrap: break-word;
}
.sidebar ul > li:last-child {
margin-bottom: 0;
}
.sidebar .widget {
background-color: #fff;
border-radius: 3px;
margin-bottom: 40px;
margin-bottom: 4rem;
padding: 40px;
padding: 4rem;
}
.sidebar .enews-widget {
background-color: #333;
} .footer-widgets {
background-color: #333;
color: #999;
clear: both;
padding: 40px 0 16px;
padding: 4rem 0 1.6rem;
}
.footer-widgets-1,
.footer-widgets-3 {
width: 350px;
}
.footer-widgets-2 {
width: 360px;
}
.footer-widgets-1 {
margin-right: 40px;
margin-right: 4rem;
}
.footer-widgets-1,
.footer-widgets-2 {
float: left;
}
.footer-widgets-3 {
float: right;
}
.footer-widgets a:hover {
color: #ddd;
}
.footer-widgets .widget {
margin-bottom: 24px;
margin-bottom: 2.4rem;
}
.footer-widgets .widget-title {
color: #fff;
}
.footer-widgets li {
list-style-type: none;
margin-bottom: 6px;
margin-bottom: 0.6rem;
word-wrap: break-word;
}
.footer-widgets .search-form input:focus {
border: 1px solid #ddd;
} .site-footer {
background-color: #fff;
color: #999;
font-size: 14px;
font-size: 1.4rem;
padding: 40px 0;
padding: 4rem 0;
text-align: center;
}
.site-footer p {
margin-bottom: 0;
} .one-half {
width:49%;
}
.one-third {
width:32%;
}
.two-thirds {
width:66%;
}
.two-fourth {
width:47%;
}
.one-fourth {
width:23.5%;
}
.three-fourths {
width:74.5%;
}
.one-fifth {
width:18.4%;
}
.two-fifths {
width:38.6%;
}
.three-fifths {
width:59.4%;
}
.four-fifths {
width:79.6%;
}
.one-sixth {
width:14.33%;
}
.five-sixths {
width:83.67%;
}
.one-half,
.one-third,
.two-thirds,
.two-fourth,
.three-fourths,
.one-fourth,
.one-fifth,
.two-fifths,
.three-fifths,
.four-fifths,
.one-sixth,
.five-sixths {
position:relative;
margin-right:2%;
float:left;
margin-left: 0;
}
.last {
margin-right:0 !important;
clear:right;
float: right;
}
.clearboth {
clear:both;
display:block;
font-size:0;
height:0;
line-height:0;
width:100%;
} .cmk-nav-toggle {
display: none;
} .ckensct {
text-align: center;
background: #F00;
color: #fff;
border-bottom: 1px solid #eee;
}
.center {
text-align: center;	
}
body,
.cmk-PushRight,
.cmk-PushLeft,
.cmk-SlideRight,
.cmk-SlideLeft,
.cmk-SlideDown,
.cmk-SlideUp {
webkit-transition: all .35s ease-in-out;
-moz-transition: all .35s ease-in-out;
-ms-transition: all .35s ease-in-out;
-o-transition: all .35s ease-in-out;
transition: all .35s ease-in-out;
}
.ajax-loader {
position: absolute;
width: 100%;
height: 100%;
background: rgba(255, 255, 255, 0.7);
z-index: 8200;
left: 0;
top: 0;
}
.ajax-loader .spinner {
animation: 2s cubic-bezier(0.63, 0.045, 0.34, 1) 0s normal none infinite cm_spinner;
-webkit-animation: 2s cubic-bezier(0.63, 0.045, 0.34, 1) 0s normal none infinite cm_spinner;
}
.ajax-loader .spinner {
top: 50%;
border-radius: 100%;
height: 40px;
width: 40px;
margin: 0 auto;
display: block;
position: relative;
border: 3px solid #e5e5e5;
margin-top: -20px;
}
.ajax-loader .spinner:before {
position: absolute;
content: "";
border-color: #66c9c3 transparent transparent;
border-radius: 100%;
border-style: solid;
border-width: 3px;
display: block;
height: 100%;
width: 100%;
top: -3px;
left: -3px;
}
.cm-full .site-inner{padding:0}
.cm-full .site-inner>.wrap{width:100%;max-width:100%}
.cm-full .site-inner>.wrap .entry{padding:0;margin:0}
@keyframes cm_spinner {
0% {
transform: scale(1) rotate(0deg);
-o-transform: scale(1) rotate(0deg);
}
50% {
transform: scale(0.8) rotate(360deg);
-o-transform: scale(0.8) rotate(360deg);
}
100% {
transform: scale(1) rotate(720deg);
-o-transform: scale(1) rotate(720deg);
}
}
@-webkit-keyframes cm_spinner {
0% {
-webkit-transform: scale(1) rotate(0deg);
}
50% {
-webkit-transform: scale(0.8) rotate(360deg);
}
100% {
-webkit-transform: scale(1) rotate(720deg);
}
}
@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
} @media only screen and (min-width: 769px) {	
.entry {
padding: 1.5em;
}
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
.header-image .site-header .wrap {
background: url(//denturewearers.com/wp-content/themes/dynatheme/css/images/logo@2x.png) no-repeat left;
background-size: 320px 164px;
}
}
@media only screen and (max-width: 1139px) {
.site-inner,
.wrap { }
.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
width: 740px;
}
.content,
.site-header .widget-area {
width: 620px;
}
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content,
.content-sidebar-sidebar .content {
width: 400px;
}
.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3,
.sidebar-primary,
.title-area {
width: 300px;
}
}
@media only screen and (max-width: 1023px) {
body {
background-color: #fff;
}
.content,
.content-sidebar-sidebar .content,
.content-sidebar-sidebar .content-sidebar-wrap,
.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3,
.sidebar-content-sidebar .content,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-primary,
.sidebar-secondary,
.sidebar-sidebar-content .content,
.sidebar-sidebar-content .content-sidebar-wrap,
.site-header .widget-area,
.site-inner,
.title-area,
.wrap {
width: 100%;
}
.site-header .wrap {
padding: 20px 0;
padding: 2rem 0;
}
.header-image .site-header .wrap {
background-position: center top;
}
.archive-description,
.author-box,
.comment-respond,
.entry,
.entry-comments,
.entry-footer .entry-meta,
.header-image .site-header .widget-area,
.sidebar .widget,
.site-header {
padding: 0;
}
.genesis-nav-menu li,
.site-header ul.genesis-nav-menu,
.site-header .search-form {
float: none;
}
.genesis-nav-menu,
.site-description,
.site-header .title-area,
.site-header .search-form,
.site-title {
text-align: center;
}
.genesis-nav-menu a,
.genesis-nav-menu > .first > a,
.genesis-nav-menu > .last > a {
padding: 20px 16px;
padding: 2rem 1.6rem;
}
.site-header .search-form {
margin: 16px auto ;
margin: 1.6rem auto;
}
.genesis-nav-menu li.right {
display: none;
}
.entry-footer .entry-meta {
margin: 0;
padding-top: 12px;
padding-top: 1.2rem;
}
.sidebar .widget.enews-widget {
padding: 20px;
padding: 2rem;
}
.site-footer {
padding: 24px 0;
padding: 2.4rem 0;
}
.footer-widgets {
padding: 40px 5% 16px;
}
.footer-widgets-1 {
margin: 0;
}
}
@media only screen and (max-width: 1024px) { 
.nav-in-header .nav-primary {
float: none;
}
.genesis-nav-menu .menu-item, .genesis-nav-menu .menu-item:hover {
display: block;
position: relative;
text-align: left;
}
.genesis-nav-menu .sub-menu {
left: 0;
opacity: 1;
position: relative;
text-align: left;
border-top: 0;
width: auto;
margin-left: 20px;
}
.genesis-nav-menu .sub-menu .sub-menu {
margin: 0 !important;
}
.genesis-nav-menu a {
padding: 10px;
background-color: transparent;
color: #fff;
}
.genesis-nav-menu .menu-item > a {
border-top: 1px solid #3F3F3F;
box-shadow: 0px -1px 0px 0px #070707;
padding: 15px 30px;
}
.sub-menu li a {
margin-left: 20px;
}
.cmk-nav-toggle {
display: block;
text-align: right;
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
-webkit-user-select: none;
font-size: 24px;
float: right;
border-radius: 3px;
margin-right: 20px;
}
.cmk-nav-toggle i {
color: #CCCCCC;
padding: 5px 10px;
border-radius: 3px;
background: rgba(51, 51, 51, 0.79);
transition: all .5s ease-in-out;
}
.cmk-nav-toggle.active i.fa::before {
content: "\f054";
}
.cmk-PushRight,
.cmk-PushLeft,
.cmk-SlideRight,
.cmk-SlideLeft {
position: fixed;
max-width: 250px;
top: 0;
z-index: 9;
background: #222222;
padding: 30px 0;
height: 100%;
overflow-x: auto;
}
.cmk-PushRight {
right: -250px;
}
.cmk-PushRight.menu-opened {
right: 0;
}
body.PushRight {
left: -250px;
}
.cmk-PushLeft {
left: -250px;
}
.cmk-PushLeft.menu-opened {
left: 0;
}
body.PushLeft {
left: 250px;
}
.subdown {
position: absolute;
height: 100%;
width: 50px;
top: 0;
right: 0;
text-align: center;
background: #0000003d;
}
.subdown::after {
content: "\f107";
font-family: "Font Awesome 5 Free";
font-weight: 900;
font-size: 26px;
padding-top: 9px;
display: block;
webkit-transition: all .55s ease-in-out;
-moz-transition: all .55s ease-in-out;
-ms-transition: all .55s ease-in-out;
-o-transition: all .55s ease-in-out;
transition: all .55s ease-in-out;
}
.sub-opened > .subdown::after {
transform: rotate(-180deg);
margin-top: 10px;
}
.genesis-nav-menu .menu-item-has-children > .sub-menu {
max-height: 0;
overflow:hidden;
webkit-transition: all .75s ease-in-out;
-moz-transition: all .75s ease-in-out;
-ms-transition: all .75s ease-in-out;
-o-transition: all .75s ease-in-out;
transition: all .75s ease-in-out;
}
.genesis-nav-menu .menu-item-has-children.sub-opened > .sub-menu {
max-height: 1000px;
}
}
@media only screen and (max-width: 767px) {
.five-sixths,
.four-sixths,
.one-fourth,
.two-fourth,
.one-half,
.one-fifth,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds,
.header-middle-active .site-header .title-area, 
.header-middle-active .site-header .header-widget-area	{
margin: 0 auto 20px;
width: 100%;
text-align: center;
}
}
@-webkit-keyframes spinAround {
from {
-webkit-transform: rotate(0);
transform: rotate(0)
}
to {
-webkit-transform: rotate(359deg);
transform: rotate(359deg)
}
}
@keyframes spinAround {
from {
-webkit-transform: rotate(0);
transform: rotate(0)
}
to {
-webkit-transform: rotate(359deg);
transform: rotate(359deg)
}
}
.preloader {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background: #00000073;
z-index: 999;
text-align: center;
font-style: normal;
}
.preloader::after {
-webkit-animation: spinAround .5s infinite linear;
animation: spinAround .5s infinite linear;
border: 2px solid #dbdbdb;
border-radius: 290486px;
border-right-color: transparent;
border-top-color: transparent;
content: "";
display: block;
height: 1em;
position: relative;
width: 1em;
margin: 0 auto;
top: 50%;
margin-top: -10px
}body{
font-family: 'Segoe', sans-serif;
font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
font-family: 'Noto Serif', serif;
}
.cm-full .site-inner .entry-header, .wrap{max-width:1130px;margin:0 auto}
.site-header .wrap {
max-width: 1430px;
}
.menu-item.user-info img {
border-radius: 50%;
vertical-align: middle;
background: #ddd;
padding: 2px;
width: 45px;
height: 45px;
}
.vid-bg {
background: url(//denturewearers.com/wp-content/uploads/2020/06/video-frame.png) no-repeat;
background-size: 100%;
padding: 2.6%;
padding-bottom: 20%;
max-width: 800px;
margin: 0 auto;
}
.vid-bg #video-frame {
position: relative;
padding-bottom: 57.25%;
}
.vid-bg #video-frame iframe {
position: absolute;
width: 100%;
height: 100%;
left: 0;
bottom: 0;
}
.site-header {
position: fixed;
width: 100%;
margin-top: 10px;
z-index: 9;
background: transparent;
}
body:not(.page):not(.post-type-archive-lifestyle):not(.tax-topics) .site-header, body.archive-no-results .site-header, body.relative-head .site-header:not(.fixed) {
position: relative;
}
body:not(.page) .site-header.fixed {
position: fixed;
}
.site-header.fixed, body:not(.page):not(.post-type-archive-lifestyle) .site-header, body.relative-head .site-header:not(.fixed)  {
background: #1a1a1a;
margin-top: 0;
}
.site-header .title-area {
width: 202px;
padding: 0;
}
.site-header .title-area img {
width: 100%;
} 
.site-header.fixed .title-area img, body:not(.page) .site-header .title-area img, body.relative-head .site-header:not(.fixed)  .title-area img {
height: 60px;
} 
.wrap::after {
content: "";
clear: both;
width: 100%;
}
.nav-sec {
text-align: right;
}
nav ul li {
display: inline-block;
}
nav ul li a, .genesis-nav-menu a {
text-transform: uppercase;
text-transform: uppercase;
display: block;
padding: 23px 10px;
color: #fff;
-webkit-transition: all .4s ease-in-out;
-moz-transition:    all .4s ease-in-out;
-ms-transition:     all .4s ease-in-out;
-o-transition:      all .4s ease-in-out;
transition:         all .4s ease-in-out;
font-size: 14px;
}
nav ul li a:hover, .genesis-nav-menu a:hover, .nav-primary a:hover, .nav-primary .current-menu-item > a {
color: #fee19f
}
.site-header .sub-menu {
border: 0;
}
.genesis-nav-menu .sub-menu a {
background: #222;
border: 0;
padding: 9px 12px;
}
.site-header .sub-menu .sub-menu {
margin-top: -39px;
}
.nav-primary .sub-menu a:hover {
color: #fee19f;
}
.genesis-nav-menu .join-cl a {
padding: 11px 35px;
background: #fee19f;
color: #222;
border: 2px solid #fee19f;
}
.genesis-nav-menu .join-cl a:hover {
color: #fff;	
border: 2px solid #fff;
background: transparent;
}
.site-inner {
overflow: hidden;
}
.sec {
background-repeat: no-repeat !important;
background-size: cover !important;
position: relative;
}
.wrap {
width: 100%;
margin: 0 auto;
}
header {
padding: 0 10px;
}
header .wrap {
max-width: 1430px
}
footer .wrap {
max-width: 1375px;
}
footer nav li {
margin-left: 15px;
}
.sec .wrap {
max-width: 1130px;
}
.btn, .btn.btn-trans:hover, .entry-content .btn, .entry-content .btn:hover, .gform_wrapper .gform_footer input[type=submit] {
display: inline-block;
background: #fee19f;
color: #222;
border: 2px solid #fee19f;
text-transform: uppercase;
-webkit-transition: all .4s ease-in-out;
-moz-transition:    all .4s ease-in-out;
-ms-transition:     all .4s ease-in-out;
-o-transition:      all .4s ease-in-out;
transition:         all .4s ease-in-out;
}
.btn:hover, .btn.btn-trans, .entry-content .btn:hover, .entry-content .btn.btn-trans {
display: inline-block;
background: transparent;
color: #fff;	
border: 2px solid #fff;
}
.bgl .btn:not(.btn-trans):hover, .entry-content .bgl .btn:not(.btn-trans):hover, .gform_footer input[type=submit]:hover {
color: #222;	
border: 2px solid #222;
}
.sec .nm {
margin: 0;
}
.dw-icons {
display: inline-block;
width: 32px;
height: 32px;
vertical-align: middle;
background: url(//denturewearers.com/wp-content/uploads/2020/02/icons.png) no-repeat 0 0 ;
margin-right: 5px;
}
.dw-icons.dollar {
background-position: 0 -39px;
}
.dw-icons.clock {
background-position: 0 -77px;
}
.dw-icons.stet {
background-position: -81px 0;
}
.dw-icons.clockl {
background-position: -81px -77px;
}
.dw-icons.dollarl {
background-position: -81px -40px;
}
.dw-icons.thumbl {
background-position: -81px -113px;
}
.dw-rev {
text-align: center;
text-decoration: underline;
}
.sec .btn, .dw-stories .btn {
padding: 12px 25px;
}
.sec-1 {
z-index: 3;
}
.cwtd, .dwcont {
webkit-box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.31);
-moz-box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.31);
box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.31);
}
.cwtd {
background: #fff;
color: #222;
padding: 60px 70px;
text-align: center;
}
.sec-2 .dwcont, .dw-box .dwcont {
width: 245px;
margin: 0 auto 1.5em;
}
.sec-2 .dwcont .dwc,  .dw-box .dwcont .dwc {
padding: 15px 20px 30px;
box-sizing: border-box;
font-size: 14px;
}
.sec-2 .nm {
margin-bottom: 5px;
color: #000;
font-size: 16px;
}
.sec-3 .rev-nav li {	
display: block;
margin-bottom: 15px;
text-align: right;
}
.sec-3 .rev-nav a {
font-size: 18px;
color: #797979;
}
.sec-3 .rev-nav a.active, .sec-3 .rev-nav a:hover {
color: #fee19f;
}
.sec-3 .rev-cont .dwimg {
background: #fff;
color: #222;
margin-bottom: 7px;
}
.sec-3 .rev-cont:not(.active) {
display: none;
}
.sec-3 .rev-cont .dwimg .nm {
margin: 0 16px;
font-size: 14px;
}
.sec-4 .lt-cont {
max-width: 225px;
margin: 0 auto;
padding: 30px 25px;
text-align: center;
webkit-box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.19);
-moz-box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.19);
box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.19);
margin-bottom: 21px;
min-height: 198px;
}
.sec-4 .lt-cont h5 {
font-size: 16px;
}
.ftd .doc {
position: relative;
text-align: center;
}
.ftd .doc-info {
position: absolute;
left: 66%;
top: 69px;
width: 165px;
text-align: left;
}
.ftd .doc-info h6 {
color: #fff;
margin-bottom: 15px;
}
.ftd .doc-info p {
line-height: 1.1;
}
.ftd input {
border-radius: 0;
padding: 1.01em;
}
.sec-6 .blog-info {
webkit-box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.19);
-moz-box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.19);
box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.19);
padding: 25px;
}
.news-sec .column {
margin-bottom: 25px;
}
.news-sec .rmore {
color: #fee19f;
text-decoration: underline;
}
.sec img {
vertical-align: top;
}
.sec .topl {
position: relative;
}
.sec .topl::before {
content: "";
display: block;
width: 50px;
border-top: 5px solid #fee19f;
position: absolute;
top: -60px;
}
.sec .bullets li {
display: block;
position: relative;
padding-left: 45px;
margin-bottom: 20px;
}
.sec .bullets li::before {
content: "•";
position: absolute;
left: 0;
background: #fee19f;
color: #fff;
font-size: 30px;
line-height: 18px;
height: 18px;
width: 18px;
text-align: center;
box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.31);
top: 9px;
}
.sec .lt-icon {
width: 77px;
height: 77px;
margin: 0 auto;
display: inline-block;
background: url(//denturewearers.com/wp-content/uploads/2020/02/lt.jpg) 0 0 no-repeat;
}
.sec .lt-icon.i-2 {
background-position: -112px 0;
}
.sec .lt-icon.i-3 {
background-position: -8px -82px;
}
.sec .lt-icon.i-4 {
background-position: -111px -84px;
}
.sec .lt-icon.i-5 {
background-position: -8px -163px;
}
.sec .lt-icon.i-6 {
background-position: -111px -164px;
}
.site-footer {
padding: 20px 0 0 0;
}
.site-footer li, footer li {
font-size: 14px;
text-transform: uppercase;
}
.footer-nav li {
margin-left: 30px;
}
.copy {
border-top: 1px solid;
padding: 2em 0;
margin-top: 1em;
text-align: left;
}
.copy li {
display: inline-block;
margin-left: 30px;
text-transform: uppercase;
}
.mob-only {
display: none;
color: #fff;
}
.mob-logo {
position: absolute;
width: 300px;
top: 0;
left: 0;
}
.site-footer nav a {
color: #222;
} .dlist li {
margin-bottom: 13px;
display: block;
}
.to-gm1 {
position: relative;
}
body.to h1 {
font-size: 86px;
font-weight: 400;
}
body.to h3 {
font-size: 36px;
font-weight: 400;
}
body.to h2 {
font-size: 42px;
font-weight: normal;
}
.to .sec .topl::before {
top: -20px;
}
.to-4 .blc {
margin-bottom: 6em;
}
.to-6 .btn:not(:hover) {
background: transparent;
}
.to-6 .rev-desc {
margin-bottom: 0;
}
.rev-col > .columns {
margin: 1em 0;
}
.rev-col > .columns:last-of-type {
margin-bottom: 2em;
}
.to .site-footer {
background: #fff;
}
.bef-af {
white-space: nowrap;
overflow: hidden;
}
.bef-af .ba {
display: inline-block;
margin-right: 10px;
} .doc-rec {
color: #fff;
margin-top: 1.5em;
}
.doc-rec i {
font-style: normal;
font-weight: 700;
margin-left: 10px;
}
.fd-4 .dwcont > *:not(.doc-img) {
padding: 0 20px;
}
body.to .fd-4 h3 {
margin-top: 25px;
font-size: 19px;
margin-bottom: 10px;
font-weight: 700;
}
.fd-4 .phone {
margin-bottom: 5px;
font-weight: 700;
}
.fd-4 .add, .fd-4 .desc {
margin-bottom: 15px;
}
.fd-4 .dwcont {
padding-bottom: 20px;
max-width: 292px;
margin: 0 auto;
margin-bottom: 1.5em;
}
i.star {
background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 25 24"><g fill="orange"><path class="str" d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></g></svg>');
background-repeat: no-repeat;
height: 15px;
width: 15px;
display: inline-block;
fill: #ffb400;
color: #ffb400;
margin-left: 6px;
vertical-align: top;
margin-top: 8px;
} .singup-doc {
background: #fff;
}
.singup-doc h2 {
background: #222;
color: #f4bb2a;
text-align: center;
padding: 14px 0;
font-size: 28px !important;
margin-bottom: 30px;
}
.singup-doc .field {
margin: 0 30px 10px;
}
.singup-doc .btn {
margin: 2px 0 40px 30px;
min-width: 200px;
}
.fp-1 {
position: relative;
}
.fp-1::after {
position: absolute;
width: 100%;
height: 30%;
content: "";
display: block;
background: #1a1a1a;
bottom: 0;
left: 0;
z-index: 0;
}
.fp-1 .wrap {
z-index: 1;
position: relative;
} .info-3sec {
position: relative;
min-height: 370px;
overflow: hidden;
z-index: 1;
text-align: center;
}
.info-3sec .infobg {
position: absolute;
z-index: -1;
}
body.to .info-3sec h3 {
font-size: 28px;
min-height: 66px;
}
body.to .info-3sec:not(.active) h3 {
color: #fff;
}
.info-3sec .sv-icon {
margin: 7em 0 2em;
}
.filters {
border-bottom: 1px solid #979797;
padding-bottom: 30px;
}
.filters li {
display: inline-block;
}
.filters li:not(:last-of-type) {
margin: 0 13px 16px 0;
}
.filters li .btn {
background: transparent;
font-weight: 700;
}
.filters li .btn:hover, .filters li .btn.active {
background: rgba(244, 187, 42, 0.19);
border: 2px solid #F4BB2A;
color: #222;
font-weight: 700;
}
.single-dw-stories .post-img {
position: relative;
}
.single-dw-stories .site-inner,
.post-type-archive-dw-stories .site-inner {
background: #fff;
padding-top: 6em;
}
.post-type-archive-dw-stories .site-inner {
padding-top: 1em;
}
.single-dw-stories .site-inner .entry {
margin-bottom: 0;
}
.single-dw-stories .site-inner #respond {
padding: 0 1.4em;
}
.post-type-archive-lifestyle .topl::before, 
.single-dw-stories .topl::before,
.post-type-archive-dw-stories .topl::before{
top: -15px;
}
.story-single h2 {
margin-bottom: 5px;
}
.story-single h2 a {
color: #555;
}
.story-single .summary {
margin: 1em 0 1.5em;
}
.full-width-content .content {
float: none;
margin: 0;
}
.post-type-archive-lifestyle .entry-title, .tax-topics .entry-title {
font-size: 16px;
font-weight: 700;
min-height: 18px;
}
.topics .topic-img {
display: block;
overflow: hidden;
position: relative;
padding-bottom: 72%;
}
.topic-img img {
margin: 0 auto;
position: absolute;
top: 0;
left: 0;
height: 100%;
width: auto;
max-width: initial;
}
.topics .entry {
margin-bottom: 1em;
}
.topics .entry-meta {
margin-bottom: 0;
}
.topics  header {
padding: 0;
}
.topics  .topic-cat {
margin: 0 0 9px;
}
.archive-pagination li a:hover, .archive-pagination li.active a {
background-color: #f4bb2a;
}
.archive-pagination.pagination {
display: block;
width: 100%;
margin: 1em 0 3em;
}
.single-lifestyle .site-inner {
background: #fff;
}
.single-lifestyle .content-sidebar-wrap {
max-width: 730px;
margin: 0 auto;
}
.single-lifestyle .content {
padding-top: 3em;
}
.breadcrumb a {
text-decoration: underline;
}
.related-topics {
margin: 0 auto 5em;
border-top: 1px solid #979797;
padding-top: 3em;
}
.related-topics h3 {
text-align:center;
font-size: 32px;
font-weight: 400;
margin-bottom: 1.2em;
}
h2.topls {
text-align: center;
}
.gallery {
text-align: center;
display: flex;
flex-wrap: wrap;
max-width: 965px;
margin:0 auto 2em;
}
.gallery-item {
position: relative;
padding-top: 25px;
margin-bottom: 1em;
display: block;
flex: none;
width: 33.33333%;
}
.gallery figcaption {
position: absolute;
top: 0;
text-align: center;
width: 100%;
} .dwcont .dwc > p {
min-height: 90px;
}
.dwcont h4 {
font-size: 17px;
}
.news-sec .blog-info h4 {
min-height: 50px;
}
.news-sec .blog-info > p {
min-height: 80px;
}
.column.submit-personal-story {
border: 1px solid #dddddd;
border-radius: 8px;
padding: 15px;
}
.disclaimer{
border-top: 1px solid #999999;
font-size: 10px;
}
a.btn.btn-wbg {
padding: 11px 35px;
background: #fee19f;
color: #222;
border: 2px solid #fee19f;
}
ul.related-topic li.item {
list-style-type: none;
}
ul.related-topic a{
padding: 15px;
border: none;
transition: .5s;
display: inline-block;
width: 100%;
}
ul.related-topic li.item.active a, ul.related-topic a:hover {
background-color: #1a1a1a;
color: #fff;
}
li.cat-item {
margin-bottom: 5px;
}
img.alignleft, .wp-caption.alignleft{
width: 100%;
}
.related-topics h3 {
font-size: 20px;
font-weight: bold;
margin-top: 35px;
}
@media only screen and (min-width: 769px) {
.column.submit-personal-story {
margin: 0 160px 0 160px;
}
.single-dw-stories .post-img img {
position: absolute;
top: 0;
right: 0;
}
.post-type-archive-dw-stories .content .entry:nth-of-type(even) .story-single .columns > .column.is-4 {
order: 1;
}
.homevid {
margin-bottom: -10em;
}
.ch-smile {
padding-top: 10em !important;
}
.sec-1 .cwtd {
position: absolute;
width: 400px;
bottom: -170px;
z-index: 2;
}
.fd-docref {
position: absolute;
top: -248px;
}
.sec-2 {
padding-top: 15em !important;
}
.qut-topi {
position: absolute;
bottom: -80px;
}
.de-img {
position: absolute;
bottom: -143px;
z-index: 1;
}
.to-gm1 img {
position: absolute;
width: auto;
max-width: 761px;
right: 0;
}
.to-2 {
padding-top: 23em !important;
}
.to-2 .cwtd, .to-norm .cwtd {
position: absolute;
max-width: 400px;
top: -71px;
}
}
@media only screen and (max-width: 1560px) {
.site-header .title-area img {
max-width: 290px;
}
nav ul li a, .genesis-nav-menu a {
font-weight: 400;
padding: 17px 8px;
}
}
@media only screen and (max-width: 1340px) {
.site-header .wrap {
padding: 0;
}
.nav-primary {
width: 100%;
}
body .site-header {
position: fixed !important;
top: 0;
background: #1a1a1a;
overflow-y: auto;
margin-top: 0 !important;
padding: 20px;
width: 300px !important;
height: 100%;
transform: translateX(-300px);
-webkit-transition: all .4s ease-in-out;
-moz-transition:    all .4s ease-in-out;
-ms-transition:     all .4s ease-in-out;
-o-transition:      all .4s ease-in-out;
transition:         all .4s ease-in-out;
}
.site-header .title-area {
text-align: left;
}
.site-header .title-area img {
width: auto;
margin-left: 20px;
}
body .site-header.open-nav  {
transform: translateX(0);
}
body .site-header {
padding: 0px;
}
body .site-header .wrap {
padding: 10px 0;
}
.mob-only {		
display: block;
}
.close-menu {
position: absolute;
right: 20px;
width: 50px;
height: 50px;
cursor: pointer;
fill: #fff;
text-align: center;
line-height: 50px;
}
.close-menu #close {
width: 13px;
height: 13px;
}
.menu-icon {
width: 50px;
height: 50px;
position: fixed;
right: 40px;
left: auto;
z-index: 9;
top: 20px;
fill: #f4bb2a;
cursor: pointer;
}
.sec, body:not(.page) .content-sidebar-wrap {
padding-left: 30px !important;
padding-right: 30px !important;
}
.site-footer .wrap {
overflow:hidden;
}
.genesis-nav-menu .menu-item {
display: block;
}
.site-footer {
padding: 20px 20px 0;
}
.genesis-nav-menu .menu-item-has-children > .sub-menu {
height: 100%;
left: 0;
position: relative;
margin-left: 20px;
opacity: 1;
max-height: 100%;
}
.site-header .sub-menu .sub-menu {
margin-top: 0;
}
}
@media only screen and (min-width: 1024px){
section#custom-post-type-categories-2 {
margin-top: 46px;
}
}
@media only screen and (max-width: 1024px){
.genesis-nav-menu .menu-item-has-children > .sub-menu {
height: 100%;
left: 0;
position: relative;
margin-left: 20px;
opacity: 1;
max-height: 100%;
}
.site-header .sub-menu .sub-menu {
margin-top: 0;
}
}
@media only screen and (max-width: 769px ) {
.sec .column {
margin-left: auto;
margin-right: auto;
}
.menu-icon {
right: 20px;
}
.sec, body:not(.page) .content-sidebar-wrap {
overflow: hidden;
padding-left: 20px !important;
padding-right: 20px !important;
}
.front-page .sec-1, .front-page .sec-2 {
padding: 4em 20px 5em !important;
}
.front-page .sec-1, .front-page .sec-2, .front-page .sec-3, .sec-3 .rev-nav li, .front-page .sec-4, .front-page .sec-6 h3 {
text-align: center;
}
.news-sec {
max-width: 500px !important;
margin: 0 auto !important;
}
.to-2a .column:first-of-type > div, .to-3 .column:first-of-type > div, .to-2a .column:not(:first-of-type) > div, .to-4 .column:not(:first-of-type) > div {
margin: 0 auto !important;
}
.to-2a .column:not(:first-of-type), .to-3 .column:not(:first-of-type), .to-3 .column:first-of-type, .to-4 .column:first-of-type, .rev-col > p:last-of-type, .site-footer nav, .copy, .fd-5, .fd-docref, .doc-rec {
text-align: center;
}
.copy .column {
text-align: center !important;
}
.sec h1 {
}
.cc-1 .sec-1 .is-narrow {
margin: 0 0 0 auto !important;
}
.sec.cc-1 {
padding: 3em 20px !important;
}
.to-1 {
padding-bottom: 2em !important;
}
.to-2 .columns:first-of-type {
margin-bottom: 3em;
}
.to-2 .columns:last-of-type .topl {
margin-top: 1.5em;
}
.tden h1 {
text-align: center;
}
.dlist {
max-width: 250px;
margin: 0 auto !important;
text-align: left;
}
}
@media only screen and (max-width: 500px) {
.cc-1 .sec-1 .is-narrow {
margin: 0 auto !important;
}
.footer, .footer .column, .site-footer, .site-footer .column {
text-align: center !important;
}
.sec-1 .is-narrow {
width: 100% !important;
}
.sec-1 .cwtd {
padding: 30px;
}
.sec h1 {
font-size: 48px !important;
}
.sec h2 {
font-size: 42px !important;
}
.sec h2 {
font-size: 36px !important;
}
.gallery-item {
width: 100%;
}
}.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
padding: 0;
margin: 0;
border: 0;
outline: none;
vertical-align: top;
}
.fancybox-wrap {
position: absolute;
top: 0;
left: 0;
z-index: 8020;
}
.fancybox-skin {
position: relative;
background: #f9f9f9;
color: #444;
text-shadow: none;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.fancybox-opened {
z-index: 8030;
}
.fancybox-opened .fancybox-skin {
-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.fancybox-outer, .fancybox-inner {
position: relative;
}
.fancybox-inner {
overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
-webkit-overflow-scrolling: touch;
}
.fancybox-error {
color: #444;
font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
margin: 0;
padding: 15px;
white-space: nowrap;
}
.fancybox-image, .fancybox-iframe {
display: block;
width: 100%;
height: 100%;
}
.fancybox-image {
max-width: 100%;
max-height: 100%;
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
background-image: url(//denturewearers.com/wp-content/themes/dynatheme/js/fancybox/source/fancybox_sprite.png);
}
#fancybox-loading {
position: fixed;
top: 50%;
left: 50%;
margin-top: -22px;
margin-left: -22px;
background-position: 0 -108px;
opacity: 0.8;
cursor: pointer;
z-index: 8060;
}
#fancybox-loading div {
width: 44px;
height: 44px;
background: url(//denturewearers.com/wp-content/themes/dynatheme/js/fancybox/source/fancybox_loading.gif) center center no-repeat;
}
.fancybox-close {
position: absolute;
top: -18px;
right: -18px;
width: 36px;
height: 36px;
cursor: pointer;
z-index: 8040;
}
.fancybox-nav {
position: absolute;
top: 0;
width: 40%;
height: 100%;
cursor: pointer;
text-decoration: none;
background: transparent url(//denturewearers.com/wp-content/themes/dynatheme/js/fancybox/source/blank.gif); -webkit-tap-highlight-color: rgba(0,0,0,0);
z-index: 8040;
}
.fancybox-prev {
left: 0;
}
.fancybox-next {
right: 0;
}
.fancybox-nav span {
position: absolute;
top: 50%;
width: 36px;
height: 34px;
margin-top: -18px;
cursor: pointer;
z-index: 8040;
visibility: hidden;
}
.fancybox-prev span {
left: 10px;
background-position: 0 -36px;
}
.fancybox-next span {
right: 10px;
background-position: 0 -72px;
}
.fancybox-nav:hover span {
visibility: visible;
}
.fancybox-tmp {
position: absolute;
top: -99999px;
left: -99999px;
visibility: hidden;
max-width: 99999px;
max-height: 99999px;
overflow: visible !important;
} .fancybox-lock {
overflow: hidden !important;
width: auto;
}
.fancybox-lock body {
overflow: hidden !important;
}
.fancybox-lock-test {
overflow-y: hidden !important;
}
.fancybox-overlay {
position: absolute;
top: 0;
left: 0;
overflow: hidden;
display: none;
z-index: 8010;
background: url(//denturewearers.com/wp-content/themes/dynatheme/js/fancybox/source/fancybox_overlay.png);
}
.fancybox-overlay-fixed {
position: fixed;
bottom: 0;
right: 0;
}
.fancybox-lock .fancybox-overlay {
overflow: auto;
overflow-y: scroll;
} .fancybox-title {
visibility: hidden;
font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
position: relative;
text-shadow: none;
z-index: 8050;
}
.fancybox-opened .fancybox-title {
visibility: visible;
}
.fancybox-title-float-wrap {
position: absolute;
bottom: 0;
right: 50%;
margin-bottom: -35px;
z-index: 8050;
text-align: center;
}
.fancybox-title-float-wrap .child {
display: inline-block;
margin-right: -100%;
padding: 2px 20px;
background: transparent; background: rgba(0, 0, 0, 0.8);
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
text-shadow: 0 1px 2px #222;
color: #FFF;
font-weight: bold;
line-height: 24px;
white-space: nowrap;
}
.fancybox-title-outside-wrap {
position: relative;
margin-top: 10px;
color: #fff;
}
.fancybox-title-inside-wrap {
padding-top: 10px;
}
.fancybox-title-over-wrap {
position: absolute;
bottom: 0;
left: 0;
color: #fff;
padding: 10px;
background: #000;
background: rgba(0, 0, 0, .8);
} @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
background-image: url(//denturewearers.com/wp-content/themes/dynatheme/js/fancybox/source/fancybox_sprite@2x.png);
background-size: 44px 152px; }
#fancybox-loading div {
background-image: url(//denturewearers.com/wp-content/themes/dynatheme/js/fancybox/source/fancybox_loading@2x.gif);
background-size: 24px 24px; }
}@font-face{font-family:Segoe;font-style:normal;font-weight:400;font-display:swap;src:url(//denturewearers.com/wp-content/themes/dynatheme/fonts/SegoeUI-Regular.eot);src:local('Segoe'),local('Segoe'),url(//denturewearers.com/wp-content/themes/dynatheme/fonts/SegoeUI-Regular.eot?#iefix) format('embedded-opentype'),url(//denturewearers.com/wp-content/themes/dynatheme/fonts/SegoeUI-Regular.woff2) format('woff2'),url(//denturewearers.com/wp-content/themes/dynatheme/fonts/SegoeUI-Regular.woff) format('woff'),url(//denturewearers.com/wp-content/themes/dynatheme/fonts/SegoeUI-Regular.ttf) format('truetype'),url(//denturewearers.com/wp-content/themes/dynatheme/fonts/SegoeUI-Regular.svg#Segoe) format('svg')}@font-face{font-family:'Noto Serif';font-style:normal;font-weight:400;font-display:swap;src:url(//denturewearers.com/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-regular.eot);src:local('Noto Serif'),local('NotoSerif'),url(//denturewearers.com/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-regular.eot?#iefix) format('embedded-opentype'),url(//denturewearers.com/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-regular.woff2) format('woff2'),url(//denturewearers.com/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-regular.woff) format('woff'),url(//denturewearers.com/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-regular.ttf) format('truetype'),url(//denturewearers.com/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-regular.svg#NotoSerif) format('svg')}@font-face{font-family:'Noto Serif';font-style:normal;font-weight:700;font-display:swap;src:url(//denturewearers.com/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-700.eot);src:local('Noto Serif Bold'),local('NotoSerif-Bold'),url(//denturewearers.com/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-700.eot?#iefix) format('embedded-opentype'),url(//denturewearers.com/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-700.woff2) format('woff2'),url(//denturewearers.com/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-700.woff) format('woff'),url(//denturewearers.com/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-700.ttf) format('truetype'),url(//denturewearers.com/wp-content/themes/dynatheme/fonts/noto-serif-v8-latin-700.svg#NotoSerif) format('svg')}.column{display:block;flex-basis:0;flex-grow:1;flex-shrink:1;padding:.75rem}.columns.is-mobile>.column.is-narrow{flex:none}.columns.is-mobile>.column.is-full{flex:none;width:100%}.columns.is-mobile>.column.is-three-quarters{flex:none;width:75%}.columns.is-mobile>.column.is-two-thirds{flex:none;width:66.6666%}.columns.is-mobile>.column.is-half{flex:none;width:50%}.columns.is-mobile>.column.is-one-third{flex:none;width:33.3333%}.columns.is-mobile>.column.is-one-quarter{flex:none;width:25%}.columns.is-mobile>.column.is-one-fifth{flex:none;width:20%}.columns.is-mobile>.column.is-two-fifths{flex:none;width:40%}.columns.is-mobile>.column.is-three-fifths{flex:none;width:60%}.columns.is-mobile>.column.is-four-fifths{flex:none;width:80%}.columns.is-mobile>.column.is-offset-three-quarters{margin-left:75%}.columns.is-mobile>.column.is-offset-two-thirds{margin-left:66.6666%}.columns.is-mobile>.column.is-offset-half{margin-left:50%}.columns.is-mobile>.column.is-offset-one-third{margin-left:33.3333%}.columns.is-mobile>.column.is-offset-one-quarter{margin-left:25%}.columns.is-mobile>.column.is-offset-one-fifth{margin-left:20%}.columns.is-mobile>.column.is-offset-two-fifths{margin-left:40%}.columns.is-mobile>.column.is-offset-three-fifths{margin-left:60%}.columns.is-mobile>.column.is-offset-four-fifths{margin-left:80%}.columns.is-mobile>.column.is-0{flex:none;width:0%}.columns.is-mobile>.column.is-offset-0{margin-left:0}.columns.is-mobile>.column.is-1{flex:none;width:8.33333%}.columns.is-mobile>.column.is-offset-1{margin-left:8.33333%}.columns.is-mobile>.column.is-2{flex:none;width:16.66667%}.columns.is-mobile>.column.is-offset-2{margin-left:16.66667%}.columns.is-mobile>.column.is-3{flex:none;width:25%}.columns.is-mobile>.column.is-offset-3{margin-left:25%}.columns.is-mobile>.column.is-4{flex:none;width:33.33333%}.columns.is-mobile>.column.is-offset-4{margin-left:33.33333%}.columns.is-mobile>.column.is-5{flex:none;width:41.66667%}.columns.is-mobile>.column.is-offset-5{margin-left:41.66667%}.columns.is-mobile>.column.is-6{flex:none;width:50%}.columns.is-mobile>.column.is-offset-6{margin-left:50%}.columns.is-mobile>.column.is-7{flex:none;width:58.33333%}.columns.is-mobile>.column.is-offset-7{margin-left:58.33333%}.columns.is-mobile>.column.is-8{flex:none;width:66.66667%}.columns.is-mobile>.column.is-offset-8{margin-left:66.66667%}.columns.is-mobile>.column.is-9{flex:none;width:75%}.columns.is-mobile>.column.is-offset-9{margin-left:75%}.columns.is-mobile>.column.is-10{flex:none;width:83.33333%}.columns.is-mobile>.column.is-offset-10{margin-left:83.33333%}.columns.is-mobile>.column.is-11{flex:none;width:91.66667%}.columns.is-mobile>.column.is-offset-11{margin-left:91.66667%}.columns.is-mobile>.column.is-12{flex:none;width:100%}.columns.is-mobile>.column.is-offset-12{margin-left:100%}@media screen and (max-width:768px){.column.is-narrow-mobile{flex:none}.column.is-full-mobile{flex:none;width:100%}.column.is-three-quarters-mobile{flex:none;width:75%}.column.is-two-thirds-mobile{flex:none;width:66.6666%}.column.is-half-mobile{flex:none;width:50%}.column.is-one-third-mobile{flex:none;width:33.3333%}.column.is-one-quarter-mobile{flex:none;width:25%}.column.is-one-fifth-mobile{flex:none;width:20%}.column.is-two-fifths-mobile{flex:none;width:40%}.column.is-three-fifths-mobile{flex:none;width:60%}.column.is-four-fifths-mobile{flex:none;width:80%}.column.is-offset-three-quarters-mobile{margin-left:75%}.column.is-offset-two-thirds-mobile{margin-left:66.6666%}.column.is-offset-half-mobile{margin-left:50%}.column.is-offset-one-third-mobile{margin-left:33.3333%}.column.is-offset-one-quarter-mobile{margin-left:25%}.column.is-offset-one-fifth-mobile{margin-left:20%}.column.is-offset-two-fifths-mobile{margin-left:40%}.column.is-offset-three-fifths-mobile{margin-left:60%}.column.is-offset-four-fifths-mobile{margin-left:80%}.column.is-0-mobile{flex:none;width:0%}.column.is-offset-0-mobile{margin-left:0}.column.is-1-mobile{flex:none;width:8.33333%}.column.is-offset-1-mobile{margin-left:8.33333%}.column.is-2-mobile{flex:none;width:16.66667%}.column.is-offset-2-mobile{margin-left:16.66667%}.column.is-3-mobile{flex:none;width:25%}.column.is-offset-3-mobile{margin-left:25%}.column.is-4-mobile{flex:none;width:33.33333%}.column.is-offset-4-mobile{margin-left:33.33333%}.column.is-5-mobile{flex:none;width:41.66667%}.column.is-offset-5-mobile{margin-left:41.66667%}.column.is-6-mobile{flex:none;width:50%}.column.is-offset-6-mobile{margin-left:50%}.column.is-7-mobile{flex:none;width:58.33333%}.column.is-offset-7-mobile{margin-left:58.33333%}.column.is-8-mobile{flex:none;width:66.66667%}.column.is-offset-8-mobile{margin-left:66.66667%}.column.is-9-mobile{flex:none;width:75%}.column.is-offset-9-mobile{margin-left:75%}.column.is-10-mobile{flex:none;width:83.33333%}.column.is-offset-10-mobile{margin-left:83.33333%}.column.is-11-mobile{flex:none;width:91.66667%}.column.is-offset-11-mobile{margin-left:91.66667%}.column.is-12-mobile{flex:none;width:100%}.column.is-offset-12-mobile{margin-left:100%}}@media screen and (min-width:769px),print{.column.is-narrow,.column.is-narrow-tablet{flex:none}.column.is-full,.column.is-full-tablet{flex:none;width:100%}.column.is-three-quarters,.column.is-three-quarters-tablet{flex:none;width:75%}.column.is-two-thirds,.column.is-two-thirds-tablet{flex:none;width:66.6666%}.column.is-half,.column.is-half-tablet{flex:none;width:50%}.column.is-one-third,.column.is-one-third-tablet{flex:none;width:33.3333%}.column.is-one-quarter,.column.is-one-quarter-tablet{flex:none;width:25%}.column.is-one-fifth,.column.is-one-fifth-tablet{flex:none;width:20%}.column.is-two-fifths,.column.is-two-fifths-tablet{flex:none;width:40%}.column.is-three-fifths,.column.is-three-fifths-tablet{flex:none;width:60%}.column.is-four-fifths,.column.is-four-fifths-tablet{flex:none;width:80%}.column.is-offset-three-quarters,.column.is-offset-three-quarters-tablet{margin-left:75%}.column.is-offset-two-thirds,.column.is-offset-two-thirds-tablet{margin-left:66.6666%}.column.is-offset-half,.column.is-offset-half-tablet{margin-left:50%}.column.is-offset-one-third,.column.is-offset-one-third-tablet{margin-left:33.3333%}.column.is-offset-one-quarter,.column.is-offset-one-quarter-tablet{margin-left:25%}.column.is-offset-one-fifth,.column.is-offset-one-fifth-tablet{margin-left:20%}.column.is-offset-two-fifths,.column.is-offset-two-fifths-tablet{margin-left:40%}.column.is-offset-three-fifths,.column.is-offset-three-fifths-tablet{margin-left:60%}.column.is-offset-four-fifths,.column.is-offset-four-fifths-tablet{margin-left:80%}.column.is-0,.column.is-0-tablet{flex:none;width:0%}.column.is-offset-0,.column.is-offset-0-tablet{margin-left:0}.column.is-1,.column.is-1-tablet{flex:none;width:8.33333%}.column.is-offset-1,.column.is-offset-1-tablet{margin-left:8.33333%}.column.is-2,.column.is-2-tablet{flex:none;width:16.66667%}.column.is-offset-2,.column.is-offset-2-tablet{margin-left:16.66667%}.column.is-3,.column.is-3-tablet{flex:none;width:25%}.column.is-offset-3,.column.is-offset-3-tablet{margin-left:25%}.column.is-4,.column.is-4-tablet{flex:none;width:33.33333%}.column.is-offset-4,.column.is-offset-4-tablet{margin-left:33.33333%}.column.is-5,.column.is-5-tablet{flex:none;width:41.66667%}.column.is-offset-5,.column.is-offset-5-tablet{margin-left:41.66667%}.column.is-6,.column.is-6-tablet{flex:none;width:50%}.column.is-offset-6,.column.is-offset-6-tablet{margin-left:50%}.column.is-7,.column.is-7-tablet{flex:none;width:58.33333%}.column.is-offset-7,.column.is-offset-7-tablet{margin-left:58.33333%}.column.is-8,.column.is-8-tablet{flex:none;width:66.66667%}.column.is-offset-8,.column.is-offset-8-tablet{margin-left:66.66667%}.column.is-9,.column.is-9-tablet{flex:none;width:75%}.column.is-offset-9,.column.is-offset-9-tablet{margin-left:75%}.column.is-10,.column.is-10-tablet{flex:none;width:83.33333%}.column.is-offset-10,.column.is-offset-10-tablet{margin-left:83.33333%}.column.is-11,.column.is-11-tablet{flex:none;width:91.66667%}.column.is-offset-11,.column.is-offset-11-tablet{margin-left:91.66667%}.column.is-12,.column.is-12-tablet{flex:none;width:100%}.column.is-offset-12,.column.is-offset-12-tablet{margin-left:100%}}@media screen and (max-width:1023px){.column.is-narrow-touch{flex:none}.column.is-full-touch{flex:none;width:100%}.column.is-three-quarters-touch{flex:none;width:75%}.column.is-two-thirds-touch{flex:none;width:66.6666%}.column.is-half-touch{flex:none;width:50%}.column.is-one-third-touch{flex:none;width:33.3333%}.column.is-one-quarter-touch{flex:none;width:25%}.column.is-one-fifth-touch{flex:none;width:20%}.column.is-two-fifths-touch{flex:none;width:40%}.column.is-three-fifths-touch{flex:none;width:60%}.column.is-four-fifths-touch{flex:none;width:80%}.column.is-offset-three-quarters-touch{margin-left:75%}.column.is-offset-two-thirds-touch{margin-left:66.6666%}.column.is-offset-half-touch{margin-left:50%}.column.is-offset-one-third-touch{margin-left:33.3333%}.column.is-offset-one-quarter-touch{margin-left:25%}.column.is-offset-one-fifth-touch{margin-left:20%}.column.is-offset-two-fifths-touch{margin-left:40%}.column.is-offset-three-fifths-touch{margin-left:60%}.column.is-offset-four-fifths-touch{margin-left:80%}.column.is-0-touch{flex:none;width:0%}.column.is-offset-0-touch{margin-left:0}.column.is-1-touch{flex:none;width:8.33333%}.column.is-offset-1-touch{margin-left:8.33333%}.column.is-2-touch{flex:none;width:16.66667%}.column.is-offset-2-touch{margin-left:16.66667%}.column.is-3-touch{flex:none;width:25%}.column.is-offset-3-touch{margin-left:25%}.column.is-4-touch{flex:none;width:33.33333%}.column.is-offset-4-touch{margin-left:33.33333%}.column.is-5-touch{flex:none;width:41.66667%}.column.is-offset-5-touch{margin-left:41.66667%}.column.is-6-touch{flex:none;width:50%}.column.is-offset-6-touch{margin-left:50%}.column.is-7-touch{flex:none;width:58.33333%}.column.is-offset-7-touch{margin-left:58.33333%}.column.is-8-touch{flex:none;width:66.66667%}.column.is-offset-8-touch{margin-left:66.66667%}.column.is-9-touch{flex:none;width:75%}.column.is-offset-9-touch{margin-left:75%}.column.is-10-touch{flex:none;width:83.33333%}.column.is-offset-10-touch{margin-left:83.33333%}.column.is-11-touch{flex:none;width:91.66667%}.column.is-offset-11-touch{margin-left:91.66667%}.column.is-12-touch{flex:none;width:100%}.column.is-offset-12-touch{margin-left:100%}}@media screen and (min-width:1024px){.column.is-narrow-desktop{flex:none}.column.is-full-desktop{flex:none;width:100%}.column.is-three-quarters-desktop{flex:none;width:75%}.column.is-two-thirds-desktop{flex:none;width:66.6666%}.column.is-half-desktop{flex:none;width:50%}.column.is-one-third-desktop{flex:none;width:33.3333%}.column.is-one-quarter-desktop{flex:none;width:25%}.column.is-one-fifth-desktop{flex:none;width:20%}.column.is-two-fifths-desktop{flex:none;width:40%}.column.is-three-fifths-desktop{flex:none;width:60%}.column.is-four-fifths-desktop{flex:none;width:80%}.column.is-offset-three-quarters-desktop{margin-left:75%}.column.is-offset-two-thirds-desktop{margin-left:66.6666%}.column.is-offset-half-desktop{margin-left:50%}.column.is-offset-one-third-desktop{margin-left:33.3333%}.column.is-offset-one-quarter-desktop{margin-left:25%}.column.is-offset-one-fifth-desktop{margin-left:20%}.column.is-offset-two-fifths-desktop{margin-left:40%}.column.is-offset-three-fifths-desktop{margin-left:60%}.column.is-offset-four-fifths-desktop{margin-left:80%}.column.is-0-desktop{flex:none;width:0%}.column.is-offset-0-desktop{margin-left:0}.column.is-1-desktop{flex:none;width:8.33333%}.column.is-offset-1-desktop{margin-left:8.33333%}.column.is-2-desktop{flex:none;width:16.66667%}.column.is-offset-2-desktop{margin-left:16.66667%}.column.is-3-desktop{flex:none;width:25%}.column.is-offset-3-desktop{margin-left:25%}.column.is-4-desktop{flex:none;width:33.33333%}.column.is-offset-4-desktop{margin-left:33.33333%}.column.is-5-desktop{flex:none;width:41.66667%}.column.is-offset-5-desktop{margin-left:41.66667%}.column.is-6-desktop{flex:none;width:50%}.column.is-offset-6-desktop{margin-left:50%}.column.is-7-desktop{flex:none;width:58.33333%}.column.is-offset-7-desktop{margin-left:58.33333%}.column.is-8-desktop{flex:none;width:66.66667%}.column.is-offset-8-desktop{margin-left:66.66667%}.column.is-9-desktop{flex:none;width:75%}.column.is-offset-9-desktop{margin-left:75%}.column.is-10-desktop{flex:none;width:83.33333%}.column.is-offset-10-desktop{margin-left:83.33333%}.column.is-11-desktop{flex:none;width:91.66667%}.column.is-offset-11-desktop{margin-left:91.66667%}.column.is-12-desktop{flex:none;width:100%}.column.is-offset-12-desktop{margin-left:100%}}@media screen and (min-width:1216px){.column.is-narrow-widescreen{flex:none}.column.is-full-widescreen{flex:none;width:100%}.column.is-three-quarters-widescreen{flex:none;width:75%}.column.is-two-thirds-widescreen{flex:none;width:66.6666%}.column.is-half-widescreen{flex:none;width:50%}.column.is-one-third-widescreen{flex:none;width:33.3333%}.column.is-one-quarter-widescreen{flex:none;width:25%}.column.is-one-fifth-widescreen{flex:none;width:20%}.column.is-two-fifths-widescreen{flex:none;width:40%}.column.is-three-fifths-widescreen{flex:none;width:60%}.column.is-four-fifths-widescreen{flex:none;width:80%}.column.is-offset-three-quarters-widescreen{margin-left:75%}.column.is-offset-two-thirds-widescreen{margin-left:66.6666%}.column.is-offset-half-widescreen{margin-left:50%}.column.is-offset-one-third-widescreen{margin-left:33.3333%}.column.is-offset-one-quarter-widescreen{margin-left:25%}.column.is-offset-one-fifth-widescreen{margin-left:20%}.column.is-offset-two-fifths-widescreen{margin-left:40%}.column.is-offset-three-fifths-widescreen{margin-left:60%}.column.is-offset-four-fifths-widescreen{margin-left:80%}.column.is-0-widescreen{flex:none;width:0%}.column.is-offset-0-widescreen{margin-left:0}.column.is-1-widescreen{flex:none;width:8.33333%}.column.is-offset-1-widescreen{margin-left:8.33333%}.column.is-2-widescreen{flex:none;width:16.66667%}.column.is-offset-2-widescreen{margin-left:16.66667%}.column.is-3-widescreen{flex:none;width:25%}.column.is-offset-3-widescreen{margin-left:25%}.column.is-4-widescreen{flex:none;width:33.33333%}.column.is-offset-4-widescreen{margin-left:33.33333%}.column.is-5-widescreen{flex:none;width:41.66667%}.column.is-offset-5-widescreen{margin-left:41.66667%}.column.is-6-widescreen{flex:none;width:50%}.column.is-offset-6-widescreen{margin-left:50%}.column.is-7-widescreen{flex:none;width:58.33333%}.column.is-offset-7-widescreen{margin-left:58.33333%}.column.is-8-widescreen{flex:none;width:66.66667%}.column.is-offset-8-widescreen{margin-left:66.66667%}.column.is-9-widescreen{flex:none;width:75%}.column.is-offset-9-widescreen{margin-left:75%}.column.is-10-widescreen{flex:none;width:83.33333%}.column.is-offset-10-widescreen{margin-left:83.33333%}.column.is-11-widescreen{flex:none;width:91.66667%}.column.is-offset-11-widescreen{margin-left:91.66667%}.column.is-12-widescreen{flex:none;width:100%}.column.is-offset-12-widescreen{margin-left:100%}}@media screen and (min-width:1408px){.column.is-narrow-fullhd{flex:none}.column.is-full-fullhd{flex:none;width:100%}.column.is-three-quarters-fullhd{flex:none;width:75%}.column.is-two-thirds-fullhd{flex:none;width:66.6666%}.column.is-half-fullhd{flex:none;width:50%}.column.is-one-third-fullhd{flex:none;width:33.3333%}.column.is-one-quarter-fullhd{flex:none;width:25%}.column.is-one-fifth-fullhd{flex:none;width:20%}.column.is-two-fifths-fullhd{flex:none;width:40%}.column.is-three-fifths-fullhd{flex:none;width:60%}.column.is-four-fifths-fullhd{flex:none;width:80%}.column.is-offset-three-quarters-fullhd{margin-left:75%}.column.is-offset-two-thirds-fullhd{margin-left:66.6666%}.column.is-offset-half-fullhd{margin-left:50%}.column.is-offset-one-third-fullhd{margin-left:33.3333%}.column.is-offset-one-quarter-fullhd{margin-left:25%}.column.is-offset-one-fifth-fullhd{margin-left:20%}.column.is-offset-two-fifths-fullhd{margin-left:40%}.column.is-offset-three-fifths-fullhd{margin-left:60%}.column.is-offset-four-fifths-fullhd{margin-left:80%}.column.is-0-fullhd{flex:none;width:0%}.column.is-offset-0-fullhd{margin-left:0}.column.is-1-fullhd{flex:none;width:8.33333%}.column.is-offset-1-fullhd{margin-left:8.33333%}.column.is-2-fullhd{flex:none;width:16.66667%}.column.is-offset-2-fullhd{margin-left:16.66667%}.column.is-3-fullhd{flex:none;width:25%}.column.is-offset-3-fullhd{margin-left:25%}.column.is-4-fullhd{flex:none;width:33.33333%}.column.is-offset-4-fullhd{margin-left:33.33333%}.column.is-5-fullhd{flex:none;width:41.66667%}.column.is-offset-5-fullhd{margin-left:41.66667%}.column.is-6-fullhd{flex:none;width:50%}.column.is-offset-6-fullhd{margin-left:50%}.column.is-7-fullhd{flex:none;width:58.33333%}.column.is-offset-7-fullhd{margin-left:58.33333%}.column.is-8-fullhd{flex:none;width:66.66667%}.column.is-offset-8-fullhd{margin-left:66.66667%}.column.is-9-fullhd{flex:none;width:75%}.column.is-offset-9-fullhd{margin-left:75%}.column.is-10-fullhd{flex:none;width:83.33333%}.column.is-offset-10-fullhd{margin-left:83.33333%}.column.is-11-fullhd{flex:none;width:91.66667%}.column.is-offset-11-fullhd{margin-left:91.66667%}.column.is-12-fullhd{flex:none;width:100%}.column.is-offset-12-fullhd{margin-left:100%}}.columns{margin-left:-.75rem;margin-right:-.75rem;margin-top:-.75rem}.columns:last-child{margin-bottom:-.75rem}.columns:not(:last-child){margin-bottom:calc(1.5rem - .75rem)}.columns.is-centered{justify-content:center}.columns.is-gapless{margin-left:0;margin-right:0;margin-top:0}.columns.is-gapless>.column{margin:0;padding:0!important}.columns.is-gapless:not(:last-child){margin-bottom:1.5rem}.columns.is-gapless:last-child{margin-bottom:0}.columns.is-mobile{display:flex}.columns.is-multiline{flex-wrap:wrap}.columns.is-vcentered{align-items:center}@media screen and (min-width:769px),print{.columns:not(.is-desktop){display:flex}}@media screen and (min-width:1024px){.columns.is-desktop{display:flex}}.columns.is-variable{--columnGap:0.75rem;margin-left:calc(-1 * var(--columnGap));margin-right:calc(-1 * var(--columnGap))}.columns.is-variable .column{padding-left:var(--columnGap);padding-right:var(--columnGap)}.columns.is-variable.is-0{--columnGap:0rem}@media screen and (max-width:768px){.columns.is-variable.is-0-mobile{--columnGap:0rem}}@media screen and (min-width:769px),print{.columns.is-variable.is-0-tablet{--columnGap:0rem}}@media screen and (min-width:769px) and (max-width:1023px){.columns.is-variable.is-0-tablet-only{--columnGap:0rem}}@media screen and (max-width:1023px){.columns.is-variable.is-0-touch{--columnGap:0rem}}@media screen and (min-width:1024px){.columns.is-variable.is-0-desktop{--columnGap:0rem}}@media screen and (min-width:1024px) and (max-width:1215px){.columns.is-variable.is-0-desktop-only{--columnGap:0rem}}@media screen and (min-width:1216px){.columns.is-variable.is-0-widescreen{--columnGap:0rem}}@media screen and (min-width:1216px) and (max-width:1407px){.columns.is-variable.is-0-widescreen-only{--columnGap:0rem}}@media screen and (min-width:1408px){.columns.is-variable.is-0-fullhd{--columnGap:0rem}}.columns.is-variable.is-1{--columnGap:0.25rem}@media screen and (max-width:768px){.columns.is-variable.is-1-mobile{--columnGap:0.25rem}}@media screen and (min-width:769px),print{.columns.is-variable.is-1-tablet{--columnGap:0.25rem}}@media screen and (min-width:769px) and (max-width:1023px){.columns.is-variable.is-1-tablet-only{--columnGap:0.25rem}}@media screen and (max-width:1023px){.columns.is-variable.is-1-touch{--columnGap:0.25rem}}@media screen and (min-width:1024px){.columns.is-variable.is-1-desktop{--columnGap:0.25rem}}@media screen and (min-width:1024px) and (max-width:1215px){.columns.is-variable.is-1-desktop-only{--columnGap:0.25rem}}@media screen and (min-width:1216px){.columns.is-variable.is-1-widescreen{--columnGap:0.25rem}}@media screen and (min-width:1216px) and (max-width:1407px){.columns.is-variable.is-1-widescreen-only{--columnGap:0.25rem}}@media screen and (min-width:1408px){.columns.is-variable.is-1-fullhd{--columnGap:0.25rem}}.columns.is-variable.is-2{--columnGap:0.5rem}@media screen and (max-width:768px){.columns.is-variable.is-2-mobile{--columnGap:0.5rem}}@media screen and (min-width:769px),print{.columns.is-variable.is-2-tablet{--columnGap:0.5rem}}@media screen and (min-width:769px) and (max-width:1023px){.columns.is-variable.is-2-tablet-only{--columnGap:0.5rem}}@media screen and (max-width:1023px){.columns.is-variable.is-2-touch{--columnGap:0.5rem}}@media screen and (min-width:1024px){.columns.is-variable.is-2-desktop{--columnGap:0.5rem}}@media screen and (min-width:1024px) and (max-width:1215px){.columns.is-variable.is-2-desktop-only{--columnGap:0.5rem}}@media screen and (min-width:1216px){.columns.is-variable.is-2-widescreen{--columnGap:0.5rem}}@media screen and (min-width:1216px) and (max-width:1407px){.columns.is-variable.is-2-widescreen-only{--columnGap:0.5rem}}@media screen and (min-width:1408px){.columns.is-variable.is-2-fullhd{--columnGap:0.5rem}}.columns.is-variable.is-3{--columnGap:0.75rem}@media screen and (max-width:768px){.columns.is-variable.is-3-mobile{--columnGap:0.75rem}}@media screen and (min-width:769px),print{.columns.is-variable.is-3-tablet{--columnGap:0.75rem}}@media screen and (min-width:769px) and (max-width:1023px){.columns.is-variable.is-3-tablet-only{--columnGap:0.75rem}}@media screen and (max-width:1023px){.columns.is-variable.is-3-touch{--columnGap:0.75rem}}@media screen and (min-width:1024px){.columns.is-variable.is-3-desktop{--columnGap:0.75rem}}@media screen and (min-width:1024px) and (max-width:1215px){.columns.is-variable.is-3-desktop-only{--columnGap:0.75rem}}@media screen and (min-width:1216px){.columns.is-variable.is-3-widescreen{--columnGap:0.75rem}}@media screen and (min-width:1216px) and (max-width:1407px){.columns.is-variable.is-3-widescreen-only{--columnGap:0.75rem}}@media screen and (min-width:1408px){.columns.is-variable.is-3-fullhd{--columnGap:0.75rem}}.columns.is-variable.is-4{--columnGap:1rem}@media screen and (max-width:768px){.columns.is-variable.is-4-mobile{--columnGap:1rem}}@media screen and (min-width:769px),print{.columns.is-variable.is-4-tablet{--columnGap:1rem}}@media screen and (min-width:769px) and (max-width:1023px){.columns.is-variable.is-4-tablet-only{--columnGap:1rem}}@media screen and (max-width:1023px){.columns.is-variable.is-4-touch{--columnGap:1rem}}@media screen and (min-width:1024px){.columns.is-variable.is-4-desktop{--columnGap:1rem}}@media screen and (min-width:1024px) and (max-width:1215px){.columns.is-variable.is-4-desktop-only{--columnGap:1rem}}@media screen and (min-width:1216px){.columns.is-variable.is-4-widescreen{--columnGap:1rem}}@media screen and (min-width:1216px) and (max-width:1407px){.columns.is-variable.is-4-widescreen-only{--columnGap:1rem}}@media screen and (min-width:1408px){.columns.is-variable.is-4-fullhd{--columnGap:1rem}}.columns.is-variable.is-5{--columnGap:1.25rem}@media screen and (max-width:768px){.columns.is-variable.is-5-mobile{--columnGap:1.25rem}}@media screen and (min-width:769px),print{.columns.is-variable.is-5-tablet{--columnGap:1.25rem}}@media screen and (min-width:769px) and (max-width:1023px){.columns.is-variable.is-5-tablet-only{--columnGap:1.25rem}}@media screen and (max-width:1023px){.columns.is-variable.is-5-touch{--columnGap:1.25rem}}@media screen and (min-width:1024px){.columns.is-variable.is-5-desktop{--columnGap:1.25rem}}@media screen and (min-width:1024px) and (max-width:1215px){.columns.is-variable.is-5-desktop-only{--columnGap:1.25rem}}@media screen and (min-width:1216px){.columns.is-variable.is-5-widescreen{--columnGap:1.25rem}}@media screen and (min-width:1216px) and (max-width:1407px){.columns.is-variable.is-5-widescreen-only{--columnGap:1.25rem}}@media screen and (min-width:1408px){.columns.is-variable.is-5-fullhd{--columnGap:1.25rem}}.columns.is-variable.is-6{--columnGap:1.5rem}@media screen and (max-width:768px){.columns.is-variable.is-6-mobile{--columnGap:1.5rem}}@media screen and (min-width:769px),print{.columns.is-variable.is-6-tablet{--columnGap:1.5rem}}@media screen and (min-width:769px) and (max-width:1023px){.columns.is-variable.is-6-tablet-only{--columnGap:1.5rem}}@media screen and (max-width:1023px){.columns.is-variable.is-6-touch{--columnGap:1.5rem}}@media screen and (min-width:1024px){.columns.is-variable.is-6-desktop{--columnGap:1.5rem}}@media screen and (min-width:1024px) and (max-width:1215px){.columns.is-variable.is-6-desktop-only{--columnGap:1.5rem}}@media screen and (min-width:1216px){.columns.is-variable.is-6-widescreen{--columnGap:1.5rem}}@media screen and (min-width:1216px) and (max-width:1407px){.columns.is-variable.is-6-widescreen-only{--columnGap:1.5rem}}@media screen and (min-width:1408px){.columns.is-variable.is-6-fullhd{--columnGap:1.5rem}}.columns.is-variable.is-7{--columnGap:1.75rem}@media screen and (max-width:768px){.columns.is-variable.is-7-mobile{--columnGap:1.75rem}}@media screen and (min-width:769px),print{.columns.is-variable.is-7-tablet{--columnGap:1.75rem}}@media screen and (min-width:769px) and (max-width:1023px){.columns.is-variable.is-7-tablet-only{--columnGap:1.75rem}}@media screen and (max-width:1023px){.columns.is-variable.is-7-touch{--columnGap:1.75rem}}@media screen and (min-width:1024px){.columns.is-variable.is-7-desktop{--columnGap:1.75rem}}@media screen and (min-width:1024px) and (max-width:1215px){.columns.is-variable.is-7-desktop-only{--columnGap:1.75rem}}@media screen and (min-width:1216px){.columns.is-variable.is-7-widescreen{--columnGap:1.75rem}}@media screen and (min-width:1216px) and (max-width:1407px){.columns.is-variable.is-7-widescreen-only{--columnGap:1.75rem}}@media screen and (min-width:1408px){.columns.is-variable.is-7-fullhd{--columnGap:1.75rem}}.columns.is-variable.is-8{--columnGap:2rem}@media screen and (max-width:768px){.columns.is-variable.is-8-mobile{--columnGap:2rem}}@media screen and (min-width:769px),print{.columns.is-variable.is-8-tablet{--columnGap:2rem}}@media screen and (min-width:769px) and (max-width:1023px){.columns.is-variable.is-8-tablet-only{--columnGap:2rem}}@media screen and (max-width:1023px){.columns.is-variable.is-8-touch{--columnGap:2rem}}@media screen and (min-width:1024px){.columns.is-variable.is-8-desktop{--columnGap:2rem}}@media screen and (min-width:1024px) and (max-width:1215px){.columns.is-variable.is-8-desktop-only{--columnGap:2rem}}@media screen and (min-width:1216px){.columns.is-variable.is-8-widescreen{--columnGap:2rem}}@media screen and (min-width:1216px) and (max-width:1407px){.columns.is-variable.is-8-widescreen-only{--columnGap:2rem}}@media screen and (min-width:1408px){.columns.is-variable.is-8-fullhd{--columnGap:2rem}}