body{
font-family: 'Segoe', sans-serif;
font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
font-family: 'Noto Serif', serif;
}
.cm-full .site-inner .entry-header, .wrap{max-width:1130px;margin:0 auto}
.site-header .wrap {
max-width: 1430px;
}
.menu-item.user-info img {
border-radius: 50%;
vertical-align: middle;
background: #ddd;
padding: 2px;
width: 45px;
height: 45px;
}
.vid-bg {
background: url(//denturewearers.com/wp-content/uploads/2020/06/video-frame.png) no-repeat;
background-size: 100%;
padding: 2.6%;
padding-bottom: 20%;
max-width: 800px;
margin: 0 auto;
}
.vid-bg #video-frame {
position: relative;
padding-bottom: 57.25%;
}
.vid-bg #video-frame iframe {
position: absolute;
width: 100%;
height: 100%;
left: 0;
bottom: 0;
}
.site-header {
position: fixed;
width: 100%;
margin-top: 10px;
z-index: 9;
background: transparent;
}
body:not(.page):not(.post-type-archive-lifestyle):not(.tax-topics) .site-header, body.archive-no-results .site-header, body.relative-head .site-header:not(.fixed) {
position: relative;
}
body:not(.page) .site-header.fixed {
position: fixed;
}
.site-header.fixed, body:not(.page):not(.post-type-archive-lifestyle) .site-header, body.relative-head .site-header:not(.fixed)  {
background: #1a1a1a;
margin-top: 0;
}
.site-header .title-area {
width: 202px;
padding: 0;
}
.site-header .title-area img {
width: 100%;
} 
.site-header.fixed .title-area img, body:not(.page) .site-header .title-area img, body.relative-head .site-header:not(.fixed)  .title-area img {
height: 60px;
} 
.wrap::after {
content: "";
clear: both;
width: 100%;
}
.nav-sec {
text-align: right;
}
nav ul li {
display: inline-block;
}
nav ul li a, .genesis-nav-menu a {
text-transform: uppercase;
text-transform: uppercase;
display: block;
padding: 23px 10px;
color: #fff;
-webkit-transition: all .4s ease-in-out;
-moz-transition:    all .4s ease-in-out;
-ms-transition:     all .4s ease-in-out;
-o-transition:      all .4s ease-in-out;
transition:         all .4s ease-in-out;
font-size: 14px;
}
nav ul li a:hover, .genesis-nav-menu a:hover, .nav-primary a:hover, .nav-primary .current-menu-item > a {
color: #fee19f
}
.site-header .sub-menu {
border: 0;
}
.genesis-nav-menu .sub-menu a {
background: #222;
border: 0;
padding: 9px 12px;
}
.site-header .sub-menu .sub-menu {
margin-top: -39px;
}
.nav-primary .sub-menu a:hover {
color: #fee19f;
}
.genesis-nav-menu .join-cl a {
padding: 11px 35px;
background: #fee19f;
color: #222;
border: 2px solid #fee19f;
}
.genesis-nav-menu .join-cl a:hover {
color: #fff;	
border: 2px solid #fff;
background: transparent;
}
.site-inner {
overflow: hidden;
}
.sec {
background-repeat: no-repeat !important;
background-size: cover !important;
position: relative;
}
.wrap {
width: 100%;
margin: 0 auto;
}
header {
padding: 0 10px;
}
header .wrap {
max-width: 1430px
}
footer .wrap {
max-width: 1375px;
}
footer nav li {
margin-left: 15px;
}
.sec .wrap {
max-width: 1130px;
}
.btn, .btn.btn-trans:hover, .entry-content .btn, .entry-content .btn:hover, .gform_wrapper .gform_footer input[type=submit] {
display: inline-block;
background: #fee19f;
color: #222;
border: 2px solid #fee19f;
text-transform: uppercase;
-webkit-transition: all .4s ease-in-out;
-moz-transition:    all .4s ease-in-out;
-ms-transition:     all .4s ease-in-out;
-o-transition:      all .4s ease-in-out;
transition:         all .4s ease-in-out;
}
.btn:hover, .btn.btn-trans, .entry-content .btn:hover, .entry-content .btn.btn-trans {
display: inline-block;
background: transparent;
color: #fff;	
border: 2px solid #fff;
}
.bgl .btn:not(.btn-trans):hover, .entry-content .bgl .btn:not(.btn-trans):hover, .gform_footer input[type=submit]:hover {
color: #222;	
border: 2px solid #222;
}
.sec .nm {
margin: 0;
}
.dw-icons {
display: inline-block;
width: 32px;
height: 32px;
vertical-align: middle;
background: url(//denturewearers.com/wp-content/uploads/2020/02/icons.png) no-repeat 0 0 ;
margin-right: 5px;
}
.dw-icons.dollar {
background-position: 0 -39px;
}
.dw-icons.clock {
background-position: 0 -77px;
}
.dw-icons.stet {
background-position: -81px 0;
}
.dw-icons.clockl {
background-position: -81px -77px;
}
.dw-icons.dollarl {
background-position: -81px -40px;
}
.dw-icons.thumbl {
background-position: -81px -113px;
}
.dw-rev {
text-align: center;
text-decoration: underline;
}
.sec .btn, .dw-stories .btn {
padding: 12px 25px;
}
.sec-1 {
z-index: 3;
}
.cwtd, .dwcont {
webkit-box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.31);
-moz-box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.31);
box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.31);
}
.cwtd {
background: #fff;
color: #222;
padding: 60px 70px;
text-align: center;
}
.sec-2 .dwcont, .dw-box .dwcont {
width: 245px;
margin: 0 auto 1.5em;
}
.sec-2 .dwcont .dwc,  .dw-box .dwcont .dwc {
padding: 15px 20px 30px;
box-sizing: border-box;
font-size: 14px;
}
.sec-2 .nm {
margin-bottom: 5px;
color: #000;
font-size: 16px;
}
.sec-3 .rev-nav li {	
display: block;
margin-bottom: 15px;
text-align: right;
}
.sec-3 .rev-nav a {
font-size: 18px;
color: #797979;
}
.sec-3 .rev-nav a.active, .sec-3 .rev-nav a:hover {
color: #fee19f;
}
.sec-3 .rev-cont .dwimg {
background: #fff;
color: #222;
margin-bottom: 7px;
}
.sec-3 .rev-cont:not(.active) {
display: none;
}
.sec-3 .rev-cont .dwimg .nm {
margin: 0 16px;
font-size: 14px;
}
.sec-4 .lt-cont {
max-width: 225px;
margin: 0 auto;
padding: 30px 25px;
text-align: center;
webkit-box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.19);
-moz-box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.19);
box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.19);
margin-bottom: 21px;
min-height: 198px;
}
.sec-4 .lt-cont h5 {
font-size: 16px;
}
.ftd .doc {
position: relative;
text-align: center;
}
.ftd .doc-info {
position: absolute;
left: 66%;
top: 69px;
width: 165px;
text-align: left;
}
.ftd .doc-info h6 {
color: #fff;
margin-bottom: 15px;
}
.ftd .doc-info p {
line-height: 1.1;
}
.ftd input {
border-radius: 0;
padding: 1.01em;
}
.sec-6 .blog-info {
webkit-box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.19);
-moz-box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.19);
box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.19);
padding: 25px;
}
.news-sec .column {
margin-bottom: 25px;
}
.news-sec .rmore {
color: #fee19f;
text-decoration: underline;
}
.sec img {
vertical-align: top;
}
.sec .topl {
position: relative;
}
.sec .topl::before {
content: "";
display: block;
width: 50px;
border-top: 5px solid #fee19f;
position: absolute;
top: -60px;
}
.sec .bullets li {
display: block;
position: relative;
padding-left: 45px;
margin-bottom: 20px;
}
.sec .bullets li::before {
content: "•";
position: absolute;
left: 0;
background: #fee19f;
color: #fff;
font-size: 30px;
line-height: 18px;
height: 18px;
width: 18px;
text-align: center;
box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.31);
top: 9px;
}
.sec .lt-icon {
width: 77px;
height: 77px;
margin: 0 auto;
display: inline-block;
background: url(//denturewearers.com/wp-content/uploads/2020/02/lt.jpg) 0 0 no-repeat;
}
.sec .lt-icon.i-2 {
background-position: -112px 0;
}
.sec .lt-icon.i-3 {
background-position: -8px -82px;
}
.sec .lt-icon.i-4 {
background-position: -111px -84px;
}
.sec .lt-icon.i-5 {
background-position: -8px -163px;
}
.sec .lt-icon.i-6 {
background-position: -111px -164px;
}
.site-footer {
padding: 20px 0 0 0;
}
.site-footer li, footer li {
font-size: 14px;
text-transform: uppercase;
}
.footer-nav li {
margin-left: 30px;
}
.copy {
border-top: 1px solid;
padding: 2em 0;
margin-top: 1em;
text-align: left;
}
.copy li {
display: inline-block;
margin-left: 30px;
text-transform: uppercase;
}
.mob-only {
display: none;
color: #fff;
}
.mob-logo {
position: absolute;
width: 300px;
top: 0;
left: 0;
}
.site-footer nav a {
color: #222;
} .dlist li {
margin-bottom: 13px;
display: block;
}
.to-gm1 {
position: relative;
}
body.to h1 {
font-size: 86px;
font-weight: 400;
}
body.to h3 {
font-size: 36px;
font-weight: 400;
}
body.to h2 {
font-size: 42px;
font-weight: normal;
}
.to .sec .topl::before {
top: -20px;
}
.to-4 .blc {
margin-bottom: 6em;
}
.to-6 .btn:not(:hover) {
background: transparent;
}
.to-6 .rev-desc {
margin-bottom: 0;
}
.rev-col > .columns {
margin: 1em 0;
}
.rev-col > .columns:last-of-type {
margin-bottom: 2em;
}
.to .site-footer {
background: #fff;
}
.bef-af {
white-space: nowrap;
overflow: hidden;
}
.bef-af .ba {
display: inline-block;
margin-right: 10px;
} .doc-rec {
color: #fff;
margin-top: 1.5em;
}
.doc-rec i {
font-style: normal;
font-weight: 700;
margin-left: 10px;
}
.fd-4 .dwcont > *:not(.doc-img) {
padding: 0 20px;
}
body.to .fd-4 h3 {
margin-top: 25px;
font-size: 19px;
margin-bottom: 10px;
font-weight: 700;
}
.fd-4 .phone {
margin-bottom: 5px;
font-weight: 700;
}
.fd-4 .add, .fd-4 .desc {
margin-bottom: 15px;
}
.fd-4 .dwcont {
padding-bottom: 20px;
max-width: 292px;
margin: 0 auto;
margin-bottom: 1.5em;
}
i.star {
background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 25 24"><g fill="orange"><path class="str" d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></g></svg>');
background-repeat: no-repeat;
height: 15px;
width: 15px;
display: inline-block;
fill: #ffb400;
color: #ffb400;
margin-left: 6px;
vertical-align: top;
margin-top: 8px;
} .singup-doc {
background: #fff;
}
.singup-doc h2 {
background: #222;
color: #f4bb2a;
text-align: center;
padding: 14px 0;
font-size: 28px !important;
margin-bottom: 30px;
}
.singup-doc .field {
margin: 0 30px 10px;
}
.singup-doc .btn {
margin: 2px 0 40px 30px;
min-width: 200px;
}
.fp-1 {
position: relative;
}
.fp-1::after {
position: absolute;
width: 100%;
height: 30%;
content: "";
display: block;
background: #1a1a1a;
bottom: 0;
left: 0;
z-index: 0;
}
.fp-1 .wrap {
z-index: 1;
position: relative;
} .info-3sec {
position: relative;
min-height: 370px;
overflow: hidden;
z-index: 1;
text-align: center;
}
.info-3sec .infobg {
position: absolute;
z-index: -1;
}
body.to .info-3sec h3 {
font-size: 28px;
min-height: 66px;
}
body.to .info-3sec:not(.active) h3 {
color: #fff;
}
.info-3sec .sv-icon {
margin: 7em 0 2em;
}
.filters {
border-bottom: 1px solid #979797;
padding-bottom: 30px;
}
.filters li {
display: inline-block;
}
.filters li:not(:last-of-type) {
margin: 0 13px 16px 0;
}
.filters li .btn {
background: transparent;
font-weight: 700;
}
.filters li .btn:hover, .filters li .btn.active {
background: rgba(244, 187, 42, 0.19);
border: 2px solid #F4BB2A;
color: #222;
font-weight: 700;
}
.single-dw-stories .post-img {
position: relative;
}
.single-dw-stories .site-inner,
.post-type-archive-dw-stories .site-inner {
background: #fff;
padding-top: 6em;
}
.post-type-archive-dw-stories .site-inner {
padding-top: 1em;
}
.single-dw-stories .site-inner .entry {
margin-bottom: 0;
}
.single-dw-stories .site-inner #respond {
padding: 0 1.4em;
}
.post-type-archive-lifestyle .topl::before, 
.single-dw-stories .topl::before,
.post-type-archive-dw-stories .topl::before{
top: -15px;
}
.story-single h2 {
margin-bottom: 5px;
}
.story-single h2 a {
color: #555;
}
.story-single .summary {
margin: 1em 0 1.5em;
}
.full-width-content .content {
float: none;
margin: 0;
}
.post-type-archive-lifestyle .entry-title, .tax-topics .entry-title {
font-size: 16px;
font-weight: 700;
min-height: 18px;
}
.topics .topic-img {
display: block;
overflow: hidden;
position: relative;
padding-bottom: 72%;
}
.topic-img img {
margin: 0 auto;
position: absolute;
top: 0;
left: 0;
height: 100%;
width: auto;
max-width: initial;
}
.topics .entry {
margin-bottom: 1em;
}
.topics .entry-meta {
margin-bottom: 0;
}
.topics  header {
padding: 0;
}
.topics  .topic-cat {
margin: 0 0 9px;
}
.archive-pagination li a:hover, .archive-pagination li.active a {
background-color: #f4bb2a;
}
.archive-pagination.pagination {
display: block;
width: 100%;
margin: 1em 0 3em;
}
.single-lifestyle .site-inner {
background: #fff;
}
.single-lifestyle .content-sidebar-wrap {
max-width: 730px;
margin: 0 auto;
}
.single-lifestyle .content {
padding-top: 3em;
}
.breadcrumb a {
text-decoration: underline;
}
.related-topics {
margin: 0 auto 5em;
border-top: 1px solid #979797;
padding-top: 3em;
}
.related-topics h3 {
text-align:center;
font-size: 32px;
font-weight: 400;
margin-bottom: 1.2em;
}
h2.topls {
text-align: center;
}
.gallery {
text-align: center;
display: flex;
flex-wrap: wrap;
max-width: 965px;
margin:0 auto 2em;
}
.gallery-item {
position: relative;
padding-top: 25px;
margin-bottom: 1em;
display: block;
flex: none;
width: 33.33333%;
}
.gallery figcaption {
position: absolute;
top: 0;
text-align: center;
width: 100%;
} .dwcont .dwc > p {
min-height: 90px;
}
.dwcont h4 {
font-size: 17px;
}
.news-sec .blog-info h4 {
min-height: 50px;
}
.news-sec .blog-info > p {
min-height: 80px;
}
.column.submit-personal-story {
border: 1px solid #dddddd;
border-radius: 8px;
padding: 15px;
}
.disclaimer{
border-top: 1px solid #999999;
font-size: 10px;
}
a.btn.btn-wbg {
padding: 11px 35px;
background: #fee19f;
color: #222;
border: 2px solid #fee19f;
}
ul.related-topic li.item {
list-style-type: none;
}
ul.related-topic a{
padding: 15px;
border: none;
transition: .5s;
display: inline-block;
width: 100%;
}
ul.related-topic li.item.active a, ul.related-topic a:hover {
background-color: #1a1a1a;
color: #fff;
}
li.cat-item {
margin-bottom: 5px;
}
img.alignleft, .wp-caption.alignleft{
width: 100%;
}
.related-topics h3 {
font-size: 20px;
font-weight: bold;
margin-top: 35px;
}
@media only screen and (min-width: 769px) {
.column.submit-personal-story {
margin: 0 160px 0 160px;
}
.single-dw-stories .post-img img {
position: absolute;
top: 0;
right: 0;
}
.post-type-archive-dw-stories .content .entry:nth-of-type(even) .story-single .columns > .column.is-4 {
order: 1;
}
.homevid {
margin-bottom: -10em;
}
.ch-smile {
padding-top: 10em !important;
}
.sec-1 .cwtd {
position: absolute;
width: 400px;
bottom: -170px;
z-index: 2;
}
.fd-docref {
position: absolute;
top: -248px;
}
.sec-2 {
padding-top: 15em !important;
}
.qut-topi {
position: absolute;
bottom: -80px;
}
.de-img {
position: absolute;
bottom: -143px;
z-index: 1;
}
.to-gm1 img {
position: absolute;
width: auto;
max-width: 761px;
right: 0;
}
.to-2 {
padding-top: 23em !important;
}
.to-2 .cwtd, .to-norm .cwtd {
position: absolute;
max-width: 400px;
top: -71px;
}
}
@media only screen and (max-width: 1560px) {
.site-header .title-area img {
max-width: 290px;
}
nav ul li a, .genesis-nav-menu a {
font-weight: 400;
padding: 17px 8px;
}
}
@media only screen and (max-width: 1340px) {
.site-header .wrap {
padding: 0;
}
.nav-primary {
width: 100%;
}
body .site-header {
position: fixed !important;
top: 0;
background: #1a1a1a;
overflow-y: auto;
margin-top: 0 !important;
padding: 20px;
width: 300px !important;
height: 100%;
transform: translateX(-300px);
-webkit-transition: all .4s ease-in-out;
-moz-transition:    all .4s ease-in-out;
-ms-transition:     all .4s ease-in-out;
-o-transition:      all .4s ease-in-out;
transition:         all .4s ease-in-out;
}
.site-header .title-area {
text-align: left;
}
.site-header .title-area img {
width: auto;
margin-left: 20px;
}
body .site-header.open-nav  {
transform: translateX(0);
}
body .site-header {
padding: 0px;
}
body .site-header .wrap {
padding: 10px 0;
}
.mob-only {		
display: block;
}
.close-menu {
position: absolute;
right: 20px;
width: 50px;
height: 50px;
cursor: pointer;
fill: #fff;
text-align: center;
line-height: 50px;
}
.close-menu #close {
width: 13px;
height: 13px;
}
.menu-icon {
width: 50px;
height: 50px;
position: fixed;
right: 40px;
left: auto;
z-index: 9;
top: 20px;
fill: #f4bb2a;
cursor: pointer;
}
.sec, body:not(.page) .content-sidebar-wrap {
padding-left: 30px !important;
padding-right: 30px !important;
}
.site-footer .wrap {
overflow:hidden;
}
.genesis-nav-menu .menu-item {
display: block;
}
.site-footer {
padding: 20px 20px 0;
}
.genesis-nav-menu .menu-item-has-children > .sub-menu {
height: 100%;
left: 0;
position: relative;
margin-left: 20px;
opacity: 1;
max-height: 100%;
}
.site-header .sub-menu .sub-menu {
margin-top: 0;
}
}
@media only screen and (min-width: 1024px){
section#custom-post-type-categories-2 {
margin-top: 46px;
}
}
@media only screen and (max-width: 1024px){
.genesis-nav-menu .menu-item-has-children > .sub-menu {
height: 100%;
left: 0;
position: relative;
margin-left: 20px;
opacity: 1;
max-height: 100%;
}
.site-header .sub-menu .sub-menu {
margin-top: 0;
}
}
@media only screen and (max-width: 769px ) {
.sec .column {
margin-left: auto;
margin-right: auto;
}
.menu-icon {
right: 20px;
}
.sec, body:not(.page) .content-sidebar-wrap {
overflow: hidden;
padding-left: 20px !important;
padding-right: 20px !important;
}
.front-page .sec-1, .front-page .sec-2 {
padding: 4em 20px 5em !important;
}
.front-page .sec-1, .front-page .sec-2, .front-page .sec-3, .sec-3 .rev-nav li, .front-page .sec-4, .front-page .sec-6 h3 {
text-align: center;
}
.news-sec {
max-width: 500px !important;
margin: 0 auto !important;
}
.to-2a .column:first-of-type > div, .to-3 .column:first-of-type > div, .to-2a .column:not(:first-of-type) > div, .to-4 .column:not(:first-of-type) > div {
margin: 0 auto !important;
}
.to-2a .column:not(:first-of-type), .to-3 .column:not(:first-of-type), .to-3 .column:first-of-type, .to-4 .column:first-of-type, .rev-col > p:last-of-type, .site-footer nav, .copy, .fd-5, .fd-docref, .doc-rec {
text-align: center;
}
.copy .column {
text-align: center !important;
}
.sec h1 {
}
.cc-1 .sec-1 .is-narrow {
margin: 0 0 0 auto !important;
}
.sec.cc-1 {
padding: 3em 20px !important;
}
.to-1 {
padding-bottom: 2em !important;
}
.to-2 .columns:first-of-type {
margin-bottom: 3em;
}
.to-2 .columns:last-of-type .topl {
margin-top: 1.5em;
}
.tden h1 {
text-align: center;
}
.dlist {
max-width: 250px;
margin: 0 auto !important;
text-align: left;
}
}
@media only screen and (max-width: 500px) {
.cc-1 .sec-1 .is-narrow {
margin: 0 auto !important;
}
.footer, .footer .column, .site-footer, .site-footer .column {
text-align: center !important;
}
.sec-1 .is-narrow {
width: 100% !important;
}
.sec-1 .cwtd {
padding: 30px;
}
.sec h1 {
font-size: 48px !important;
}
.sec h2 {
font-size: 42px !important;
}
.sec h2 {
font-size: 36px !important;
}
.gallery-item {
width: 100%;
}
}